{% extends 'base.html' %}
{% load development %}
{% load i18n %}
{% block meta %}
    <meta name="description" content="{% trans 'Tracke deine Aktionen automatisch!' %}">
{% endblock %}

{% block title %}{% trans 'Tracken - ClimateQuest' %}{% endblock %}

{% block content %}
    <style nonce="{{ request.csp_style_nonce }}">
        #distance-tracking-button {
            display: none;
            background-color: red;
            color: white;
        }

        .more-link {
            color: var(--color-primary);
        }

        .more-link:hover {
            color: var(--color-primary);
        }

        #distance-tracking {
            position: relative;
            overflow: hidden;
        }

        .accordion {
            position: relative;
            overflow: hidden;
        }

        .beta-banner::after {
            content: 'BETA';
            position: absolute;
            top: 8px;
            right: -25px;
            background-color: var(--color-primary);
            color: var(--color-white);
            padding: 4px 40px;
            font-weight: bold;
            font-size: 11px;
            letter-spacing: 4px;
            transform: rotate(45deg);
            box-shadow: 8px 2px 16px rgba(0, 0, 0, 0.5);
            z-index: 100;
        }
    </style>
    <h1>{% trans 'Tracken' %}</h1>
    <p id="js-tracking-msg"></p>

    {% if messages %}
        {% for message in messages %}
            <p class="{{ message.level_tag }}-message">{{ message|safe }}</p>
        {% endfor %}
    {% endif %}

    <p class="color-red h2_size" id="distance-tracking-alert"></p>
    <p id="distance-tracking-info"></p>
    <button id="distance-tracking-button" class="btn">{% trans 'Stoppen' %}</button>

    <div class="accordion" id="distance-tracking">
        <div class="beta-banner"></div>

        <div class="accordion-header">
            <div>
                <div class="accordion-title">{% trans 'Distanz' %}</div>
                <div class="accordion-meta">{% trans 'Wenn du deine Fahrrad-, ÖPNV- oder Zugstrecken tracken willst' %}</div>
            </div>
            <button class="accordion-toggle" aria-expanded="false"
                    aria-controls="accordionContent">
                <span></span>
            </button>
        </div>
        <div class="accordion-content-wrapper">
            <div class="accordion-content">
                <p>{% trans 'Wir speichern keine Standortdaten auf unserem Server!' %}</p>
                {% for action in trackable_actions_kilometerly %}
                    <form>
                        <button type="button" class="btn-start-distance-tracking"
                                id="{{ action.id }}">{% if request.LANGUAGE_CODE == "de" %}{{ action.name }}{% else %}
                            {{ action.name_en }}{% endif %}</button>
                    </form>
                {% endfor %}
            </div>
        </div>
    </div>

    <script nonce="{{ request.csp_script_nonce }}">
        function autostartDistance() {
            const params = new URLSearchParams(window.location.search);
            const id = params.get("autostart-distance-id");
            window.history.replaceState({}, "", window.location.pathname);
            if (id) {
                startTracking(id);
            }
        }

        function startTracking(id) {
            document.getElementById('distance-tracking').style.display = 'none';

            const btn = document.getElementById('distance-tracking-button');
            btn.style.display = 'block';
            btn.addEventListener('click', () => {
                navigator.geolocation.clearWatch(watchId);
                stopTracking(distance.toFixed(0), id);
            });

            document.getElementById('distance-tracking-alert').textContent = '{% trans 'Bitte Seite nicht aktualisieren oder verlassen, während die Distanz getrackt wird!!!' %}';

            let info = document.getElementById('distance-tracking-info');
            info.textContent = '{% trans 'Insgesamt getrackte Distanz:' %} 0 {% trans 'Meter' %}';

            let distance = 0;
            let oldPosition;

            const watchId = navigator.geolocation.watchPosition((position) => {
                const lat = position.coords.latitude;
                const lon = position.coords.longitude;

                if (oldPosition) {
                    const delta = distanceBetween(oldPosition.lat, oldPosition.lon, lat, lon);

                    if (delta > 2) {
                        distance += delta;
                        info.textContent = '{% trans 'Insgesamt getrackte Distanz:' %} ' + distance.toFixed(0) + ' {% trans 'Meter' %}';
                    }
                }

                oldPosition = {lat, lon};
            }, (error) => {
                console.error('Fehler:', error);
            }, {
                enableHighAccuracy: true,
                maximumAge: 5000,
                timeout: 10000
            });
        }

        function stopTracking(distance, id) {
            document.getElementById('distance-tracking').style.display = 'block';
            document.getElementById('distance-tracking-alert').textContent = '';

            document.getElementById('distance-tracking-info').textContent = '';

            document.getElementById('distance-tracking-button').style.display = 'none';

            if (distance <= 0) {
                document.getElementById('js-tracking-msg').textContent = '{% trans 'Da du dich nicht bewegt hast, wurde nichts eingetragen.' %}';
                document.getElementById('js-tracking-msg').classList.add('error-message');
            } else {
                const formData = new FormData();
                formData.append('kilometerly_track', '1');
                formData.append('distance', distance);
                formData.append('action_id', id);
                formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');

                fetch(window.location.href, {
                    method: 'POST',
                    body: formData
                }).then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            document.getElementById('js-tracking-msg').innerHTML = '{% trans 'Distanz erfolgreich getrackt!' %} <a href="/users/action_detail/${data.action_id}/${data.user_id}" class="redirect-link more-link"><span>Mehr</span><span class="redirect-link-icon">→</span></a>';
                            document.getElementById('js-tracking-msg').classList.add('success-message');
                        } else {
                            document.getElementById('js-tracking-msg').textContent = '{% trans 'Fehler beim Eintragen der Aktion:' %} ' + data.error;
                            document.getElementById('js-tracking-msg').classList.add('error-message');
                        }
                    })
                    .catch(error => {
                        console.error('Fehler:', error);
                        document.getElementById('js-tracking-msg').textContent = '{% trans 'Fehler beim Eintragen der Aktion.' %}';
                        document.getElementById('js-tracking-msg').classList.add('error-message');
                    });
            }
        }

        document.querySelectorAll('.btn-start-distance-tracking').forEach((btn) => {
            btn.addEventListener('click', () => {
                startTracking(btn.id);
            });
        });

        document.addEventListener('DOMContentLoaded', autostartDistance);

        function distanceBetween(lat1, lon1, lat2, lon2) {
            const R = 6371e3; // Erdradius in Metern
            const φ1 = lat1 * Math.PI / 180;
            const φ2 = lat2 * Math.PI / 180;

            const Δφ = (lat2 - lat1) * Math.PI / 180;
            const Δλ = (lon2 - lon1) * Math.PI / 180;

            const a = Math.sin(Δφ / 2) ** 2 +
                Math.cos(φ1) * Math.cos(φ2) *
                Math.sin(Δλ / 2) ** 2;

            const c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));

            return R * c; // Ergebnis in Metern
        }
    </script>

    <div class="accordion">
        <div class="beta-banner"></div>

        <div class="accordion-header">
            <div>
                <div class="accordion-title">{% trans 'Wöchentliche Aktionen' %}</div>
                <div class="accordion-meta">{% trans 'Wenn du wöchentliche Aktionen immer durchführst und sie nicht jede Woche eintragen willst' %}</div>
            </div>
            <button class="accordion-toggle" aria-expanded="false"
                    aria-controls="accordionContent">
                <span></span>
            </button>
        </div>
        <div class="accordion-content-wrapper">
            <div class="accordion-content">
                {% for action in trackable_actions_weekly %}
                    {% if action.tracked_actions.first.user == request.user %}
                        <form method="post" class="form-confirm"
                              data-confirm="
                                      {% if request.LANGUAGE_CODE == "de" %}Bist du sicher, dass du das Tracken der Aktion {{ action.name }} beenden willst?{% else %}Are you sure you want to stop tracking {{ action.name_en }}{% endif %}">
                            {% csrf_token %}
                            <i>{{ action.name }}</i> {% trans 'wird getrackt seit' %} {{ action.tracked_actions.first.since }}.
                            <button type="submit" class="color-red" name="weekly_track" value="{{ action.id }}">
                                {% trans 'Stoppen' %}
                            </button>
                        </form>
                    {% else %}
                        <form method="post">
                            {% csrf_token %}
                            <button type="submit" name="weekly_track" value="{{ action.id }}">
                                {% if request.LANGUAGE_CODE == "de" %}{{ action.name }}{% else %}
                                    {{ action.name_en }}{% endif %}</button>
                        </form>

                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}