{% extends 'base.html' %}

{% block meta %}
    <meta name="description" content="Tracke deine Aktionen automatisch!">
{% endblock %}

{% block title %}Tracken - ClimateQuest{% endblock %}

{% block content %}
    <h1>Tracken</h1>
    {% if messages %}
        {% for message in messages %}
            <p class="{{ message.level_tag }}-message">{{ message|safe }}</p>
        {% endfor %}
    {% endif %}

    <h2>Wöchentliche Aktionen</h2>
    {% for action in trackable_actions_weekly %}
        {% if action.tracked_actions.first %}
            <form method="post" class="form-confirm" data-confirm="Möchtest du das Tracking für {{ action.name }} wirklich stoppen?">
                {% csrf_token %}
                <i>{{ action.name }}</i> wird getrackt seit {{ action.tracked_actions.first.since }}.
                <button type="submit" class="color-red" name="weekly_track" value="{{ action.id }}">Stoppen</button>
            </form>

        {% else %}
            <form method="post">
                {% csrf_token %}
                <button type="submit" name="weekly_track" value="{{ action.id }}">{{ action.name }}</button>
            </form>

        {% endif %}
    {% endfor %}
{% endblock %}