{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block meta %}
    <meta name="description" content="{% trans 'Lade dir die mobilen App von ClimateQuest herunter' %}">
{% endblock %}

{% block title %}{% trans "Mobile Apps" %}{% endblock %}

{% block content %}
    <h1>{% trans "Mobile Apps" %}</h1>
    {% if messages %}
        {% for message in messages %}
            <p class="{{ message.level_tag }}-message">{{ message|safe }}</p>
        {% endfor %}
    {% endif %}

    <style nonce="{{ request.csp_style_nonce }}">
        .apple-badge {
            width: 246px;
            height: 82px;
            vertical-align: middle;
            object-fit: contain;
        }
    </style>

    <div class="accordion">
        <div class="accordion-header">
            <div>
                <div class="accordion-title">{% trans "iOS" %}</div>
                <div class="accordion-meta">{% trans "Wenn du ein iPhone hast und auf den App Store zugreifen kannst." %}</div>
            </div>
            <button class="accordion-toggle" aria-expanded="false"
                    aria-controls="accordionContent">
                <span></span>
            </button>
        </div>
        <div class="accordion-content-wrapper">
            <div class="accordion-content">
                <p>{% trans "Wenn du ein iPhone, iPad oder MacBook hast, kannst du dir ClimateQuest im AppStore herunterladen:" %} <a
                        href="https://apps.apple.com/de/app/climatequest/id6759392266">https://apple.co/477awy3</a></p>
                <a href="https://apps.apple.com/de/app/climatequest/id6759392266">
                    <img src="{% static 'icons/apple/badge-black.svg' %}"
                         alt="{% trans 'Download on the App Store' %}" class="apple-badge"/>
                </a>
            </div>
        </div>
    </div>

    <div class="accordion">
        <div class="accordion-header">
            <div>
                <div class="accordion-title">{% trans "Android" %}</div>
                <div class="accordion-meta">{% trans "Wenn du ein Android-Handy hast" %}</div>
            </div>
            <button class="accordion-toggle" aria-expanded="false"
                    aria-controls="accordionContent">
                <span></span>
            </button>
        </div>
        <div class="accordion-content-wrapper">
            <div class="accordion-content">
                <p>{% trans "Momentan ist ClimateQuest noch im PlayStore verfügbar, dies wird sich allerdings bald ändern! Wie benachrichtigen alle User, sobald es soweit ist. Bis dahin kannst du die App als Webseite nutzen oder einen kleinen Workaround nutzen, der in Alle anderen Betriebssysteme erklärt ist." %}</p>
            </div>
        </div>
    </div>

    <div class="accordion">
        <div class="accordion-header">
            <div>
                <div class="accordion-title">{% trans "Alle anderen Betriebssysteme" %}</div>
                <div class="accordion-meta">{% trans "Wenn du ein anderes Betriebssystem nutzt oder die App nicht über den App / Play Store installieren willst / kannst." %}
                </div>
            </div>
            <button class="accordion-toggle" aria-expanded="false"
                    aria-controls="accordionContent">
                <span></span>
            </button>
        </div>
        <div class="accordion-content-wrapper">
            <div class="accordion-content">
                <p>{% trans "Wenn du weder Zugriff auf den AppStore noch auf den PlayStore hast, kannst du die App entweder weiterhin als Webseite nutzen oder über einen kleinen Workaround installieren. Das geht so:" %}</p>
                <ol>
                    <li>{% trans "Öffne die Webseite über Safari (iOS) oder Chrome (Android). Der Workaround funktioniert aber auch mit den meisten anderen Browsern." %}</li>
                    <li>{% trans "Klicke auf die drei Punkte und dann Zum Home-Bildschirm hinzufügen (Bei Safari findest du diese Option erst, wenn du auf Teilen gehst)" %}</li>
                    <li>{% trans "Klicke auf Installieren bzw. Hinzufügen" %}</li>
                    <li>{% trans "Die App erscheint nun auf dem Home-Bildschirm. Wenn du sie öffnest, siehst du keine Browser-Elemente mehr und kannst sogar, wenn du es erlaubst, Push-Nachrichten erhalten!" %}</li>
                </ol>
            </div>
        </div>
    </div>
{% endblock %}