{% extends 'base.html' %}
{% load i18n %}
{% block meta %}
    <meta name="robots" content="noindex, nofollow">
{% endblock %}

{% block title %}{% trans "PastelDone" %}{% endblock %}

{% block content %}
    <h1>PastelDone</h1>
    {% if messages %}
        {% for message in messages %}
            <p class="{{ message.level_tag }}-message">{{ message|safe }}</p>
        {% endfor %}
    {% endif %}
    <p>{% blocktrans %}Alle in der App <i>PastelDone</i> gespeicherten Daten werden ausschließlich auf dem Gerät
        gespeichert und können nicht von uns eingesehen werden. Für Fragen oder Support wenden Sie sich an
        <a href="mailto:kontakt@climate-quest.de">kontakt@climate-quest.de</a>!{% endblocktrans %}</p>
{% endblock %}