{% extends "base.html" %}
{% load i18n %}
{% block meta %}
    <meta name="description"
          content="{% trans 'Füge einen neuen Artikel bei ClimateQuest hinzu, um andere User über Klimaschutz zu informieren oder Tipps zu geben.' %}">
{% endblock %}
{% block title %}{% trans 'Artikel hinzufügen' %}{% endblock %}

{% block content %}

    <h1>{% trans 'Artikel hinzufügen' %}</h1>

    {% if messages %}
        {% for message in messages %}
            <p class="{{ message.level_tag }}-message">{{ message|safe }}</p>
        {% endfor %}
    {% endif %}

    <form method="post" class="fill-editor">
        {% csrf_token %}
        <label for="name_en">{% trans 'Name (Englisch)' %}</label>
        <input type="text" name="name_en" id="name_en" placeholder="{% trans 'Name' %}" maxlength="100" required>
        <label for="name_de">{% trans 'Name (Deutsch)' %}</label>
        <input type="text" name="name_de" id="name_de" placeholder="{% trans 'Name' %}" maxlength="100" required>

        <label>{% trans 'Inhalt (Englisch)' %}</label>
        <div id="" class="quill-editor content_editor"></div>
        <input type="hidden" name="content_en">

        <label>{% trans 'Inhalt (Deutsch)' %}</label>
        <div class="quill-editor content_editor"></div>
        <input type="hidden" name="content_de">

        <label for="category">{% trans 'Kategorie' %}</label>
        <select id="category" name="category">
            {% for category in categories %}
                <option value="{{ category }}">{% blocktrans with cat=category %}{{ cat }}{% endblocktrans %}</option>
            {% endfor %}
        </select>

        <label class="custom-checkbox">
            <input type="checkbox" name="is_truth">
            <span class="checkmark"></span>
            {% url 'nutzungsbedingungen' as nutzungs_url %}
            <span class="label-text">{% blocktrans with url=nutzungs_url %}Ich bestätige, dass alle Angaben der Wahrheit
                entsprechen, mit mindestens zwei Quellen, welche im Text vorkommen, übereinstimmen und dass der Artikel
                mit den <a href="{{ url }}">Nutzungsbedingungen</a> übereinstimmt.{% endblocktrans %}</span>
        </label>

        <button type="submit">{% trans 'Speichern' %}</button>
    </form>

    <script nonce="{{ request.csp_script_nonce }}">
        document.addEventListener('DOMContentLoaded', initializeQuill);
    </script>
{% endblock %}