{% extends "base.html" %}

{% block meta %}
    <meta name="robots" content="noindex, nofollow">
{% endblock %}

{% block title %}Artikel {{ artikel.name }} bearbeiten{% endblock %}

{% block content %}

    <h2>Artikel <a href="{% url 'artikel_detail' artikel.id %}">{{ artikel.name }}</a> bearbeiten</h2>

    {% if messages %}
        {% for message in messages %}
            <p class="{{ message.level_tag }}-message">{{ message|safe }}</p>
        {% endfor %}
    {% endif %}

    <div class="artikel-content"><p>{{ artikel.content|safe }}</p></div>

    <form method="post" class="fill-editor">
        {% csrf_token %}
        <label for="name">Name</label>
        <input type="text" name="name" id="name" placeholder="Name" maxlength="100" value="{{ artikel.name }}">

        <label for="content_editor">Beschreibung</label>
        <div id="content_editor" class="quill-editor">{{ artikel.content|safe }}</div>
        <input type="hidden" name="content">

        <label for="category">Kategorie</label>
        <select id="category" name="category">
            {% for category in categories %}
                <option value="{{ category }}" {% if category == artikel.category.title %}selected{% endif %}>{{ category }}</option>
            {% endfor %}
        </select>

        <label class="custom-checkbox">
            <input type="checkbox" name="is_truth">
            <span class="checkmark"></span>
            <span class="label-text">Ich bestätige, dass alle Angaben der Wahrheit entsprechen, mit mindestens zwei Quellen, welche im Text vorkommen, übereinstimmen und dass der Artikel mit den <a
                    href="{% url 'nutzungsbedingungen' %}">Nutzungsbedingungen</a> übereinstimmt. </span>
        </label>

        <button type="submit" name="edit_artikel">Speichern</button>
    </form>

    <script nonce="{{ request.csp_script_nonce }}">
        document.addEventListener('DOMContentLoaded', initializeQuill);
    </script>
    <hr>
    <form method="post" class="form-confirm" data-confirm="Willst du diesen Artikel wirklich löschen?">
        {% csrf_token %}
        <button type="submit" name="delete_artikel" class="color-red">Diesen Artikel löschen</button>
    </form>
{% endblock %}