{% extends "base.html" %}

{% block meta %}
    <meta name="robots" content="noindex, nofollow">
{% endblock %}

{% block title %}ClimateQuest - Artikel {{ artikel.name }} bearbeiten{% endblock %}

{% block content %}

<h1>Artikel bearbeiten</h1>

{% if messages %}
{% for message in messages %}
<p class="{{message.level_tag}}-message">{{ message }}</p>
{% endfor %}
{% endif %}

<h2>Artikel <i>{{ artikel.name }}</i></h2>
<div class="artikel-content"><p>{{ artikel.content|safe }}</p></div>

<form method="post" onsubmit="fillEditor(event)">
    {% csrf_token %}
    <label for="name">Name</label>
    <input type="text" name="name" id="name" placeholder="Name" value="{{ artikel.name }}">

    <label for="content_editor">Beschreibung</label>
    <div id="content_editor" class="quill-editor">{{ artikel.content|safe }}</div>
    <input type="hidden" name="content">

    <button type="submit">Speichern</button>
</form>

<!-- Quill CSS -->
<div class="cookie-blocked" data-requires="quill"
    data-content='<link href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.snow.css" rel="stylesheet" />'>
</div>

<script>
    let quill;
    document.addEventListener('DOMContentLoaded', function () {
        let editor = document.getElementById('content_editor')
        if (getCookiePreferences().quill) {
            const script = document.createElement("script");
            script.src = "https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.js";
            document.body.appendChild(script);
            script.onload = function () {
                if (editor) {
                    quill = new Quill(editor, {
                        theme: 'snow',
                        modules: {
                            toolbar: [
                                [{ header: [1, 2, false] }],
                                ['bold', 'italic', 'underline'],
                                [{ 'list': 'ordered' }, { 'list': 'bullet' }],
                                ['link']
                            ]
                        }
                    });
                } else 
                {
                    console.warn("Editor not found");
                }
            }
        } else {
            editor.innerHTML = `<textarea placeholder="Beschreibung"></textarea>`;
        }
    });


    // Beim Absenden des Formulars
    function fillEditor(event) {
        if (getCookiePreferences().quill) {
            const form = event.target;
            event.preventDefault();
            try {
                var html = quill.root.innerHTML;
                form.querySelector('input[name=content]').value = html;
                form.submit();
            } catch {
                console.error("Variable Quill not found");
                alert("Ein interner Fehler ist aufgetreten. Probiere es später bitte erneut!");
                return false;
            }
        }
    }
</script>
<hr>
<form method="post" onsubmit="return confirm('Willst du diesen Artikel wirklich löschen?');">
        {% csrf_token %}
        <button type="submit" name="delete_artikel" style="color:red;">Diese Aktion löschen</button>
    </form>
{% endblock %}