{% extends "base.html" %}
{% load i18n %}
{% block meta %}
    <meta name="robots" content="noindex, nofollow">
{% endblock %}

{% block title %}{% blocktrans with name=artikel.name %}Artikel {{ name }} bearbeiten{% endblocktrans %}{% endblock %}

{% block content %}

    {% url 'artikel_detail' artikel.id as detail_url %}
    <h2>{% blocktrans with url=detail_url name=artikel.name %}Artikel <a href="{{ url }}">{{ name }}</a> bearbeiten{% endblocktrans %}</h2>

    {% if messages %}
        {% for message in messages %}
            <p class="{{ message.level_tag }}-message">{{ message|safe }}</p>
        {% endfor %}
    {% endif %}

    <div class="artikel-content"><p>{{ artikel.content|safe }}</p></div>

    <form method="post" class="fill-editor">
        {% csrf_token %}
        <label for="name">{% trans 'Name' %}</label>
        <input type="text" name="name" id="name" placeholder="{% trans 'Name' %}" maxlength="100" value="{{ artikel.name }}">

        <label for="content_editor">{% trans 'Beschreibung' %}</label>
        <div id="content_editor" class="quill-editor">{{ artikel.content|safe }}</div>
        <input type="hidden" name="content">

        <label for="category">{% trans 'Kategorie' %}</label>
        <select id="category" name="category">
            {% for category in categories %}
                <option value="{{ category }}" {% if category == artikel.category.title %}selected{% endif %}>{% blocktrans with cat=category %}{{ cat }}{% endblocktrans %}</option>
            {% endfor %}
        </select>

        <label class="custom-checkbox">
            <input type="checkbox" name="is_truth">
            <span class="checkmark"></span>
            {% url 'nutzungsbedingungen' as nutzungs_url %}
            <span class="label-text">{% blocktrans with url=nutzungs_url %}Ich bestätige, dass alle Angaben der Wahrheit entsprechen, mit mindestens zwei Quellen, welche im Text vorkommen, übereinstimmen und dass der Artikel mit den <a href="{{ url }}">Nutzungsbedingungen</a> übereinstimmt.{% endblocktrans %}</span>
        </label>

        <button type="submit" name="edit_artikel">{% trans 'Speichern' %}</button>
    </form>

    <script nonce="{{ request.csp_script_nonce }}">
        document.addEventListener('DOMContentLoaded', initializeQuill);
    </script>
    <hr>
    <form method="post" class="form-confirm" data-confirm="{% trans 'Willst du diesen Artikel wirklich löschen?' %}">
        {% csrf_token %}
        <button type="submit" name="delete_artikel" class="color-red">{% trans 'Diesen Artikel löschen' %}</button>
    </form>
{% endblock %}