{% extends "base.html" %}
{% load static %}
{% block meta %}
    <meta name="description"
          content="Sieh dir deine Aktions-Historie bei ClimateQuest an.">
{% endblock %}
{% block title %}Aktions-Historie von {% if user == request.user %}mir{% else %}{% endif %}
    {{ user }}{% endblock %}
{% block content %}
    <h1>Aktions-Historie von {% if user == request.user %} <a href="{% url 'user_detail' user.id %}">mir</a>{% else %}
        <a href="{% url 'user_detail' user.id %}">{{ user }}</a>{% endif %}</h1>
    {% if messages %}
        {% for message in messages %}
            <p class="{{ message.level_tag }}-message">{{ message|safe }}</p>
        {% endfor %}
    {% endif %}
    <a href="{% url 'add' %}" class="redirect-link">
        <span>Aktion hinzufügen</span>
        <span class="redirect-link-icon">→</span>
    </a>
    {% if actions %}
        <ul class="action-list">
            {% for action in actions %}
                <li class="action-list-container">
                    <p class="action-list-description">Aktion:</p>
                    <p class="action-list-value">{{ action.aktion.name }}</p>

                    <p class="action-list-description">Datum:</p>
                    <p class="action-list-value">{{ action.date|date:"d.m.Y" }}</p>

                    {% if action.description %}
                        <p class="action-list-description">Beschreibung:</p>
                        <p class="action-list-value">{{ action.description }}</p>
                    {% endif %}

                    <p class="action-list-description">Klimapunkte:</p>
                    <p class="action-list-value">{{ action.impact|floatformat:4 }}</p>

                    <p class="action-list-description">{{ action.aktion.mengeBeschreibung }}</p>
                    <p class="action-list-value">{{ action.quantity }} {{ action.einheit }}</p>

                    <a href="{% url 'edit_action' action.id %}">Bearbeiten</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Keine Aktionen gefunden.</p>
    {% endif %}
{% endblock %}