{% extends "base.html" %}
{% load i18n %}

{% block meta %}
    <meta name="description" content="{% trans 'Suchen Sie nach bestimmten Usern von ClimateQuest' %}">
{% endblock %}

{% block title %}{% trans "User-Übersicht" %}{% endblock %}

{% block content %}

    <h1>{% trans "User-Übersicht" %}</h1>

    {% if messages %}
        {% for message in messages %}
            <p class="{{ message.level_tag }}-message">{{ message }}</p>
        {% endfor %}
    {% endif %}

    <form method="post">
        {% csrf_token %}
        <label for="search_keyword">{% trans "Suchwort" %}</label>
        <input type="search" id="search_keyword" name="search_keyword" placeholder="{% trans 'Suchwort' %}" required>
        <button type="submit">{% trans "Suchen" %}</button>
    </form>

    {% if search_keyword %}
        <p>{% blocktrans with keyword=search_keyword %}Suchwort: {{ keyword }}{% endblocktrans %}</p>
    {% endif %}

    {% if users %}
        {% for user in users %}
            <section
                    class="event-card{% if request.user == user %} event-card-creator{% endif %}">
                <div class="event-main">
                    <h2 class="event-title">{{ user.username }}</h2>
                </div>

                <a class="event-link" href="{% url 'user_detail' user.id %}">{% trans "Details ansehen" %}</a>
            </section>
        {% endfor %}
    {% else %}
        {% if search_keyword %}
            <p>{% trans "Es wurden keine User gefunden" %}</p>
        {% endif %}
    {% endif %}

{% endblock %}