{% extends 'base.html' %}
{% load i18n %}
{% block meta %}
    <meta name="description" content="{% trans 'Fehler beim Anmelden über Drittanbieter' %}">
{% endblock %}

{% block title %}{% trans 'Fehler beim Anmelden über Drittanbieter' %} - ClimateQuest{% endblock %}

{% block content %}
    <h1>{% trans 'Fehler beim Anmelden über Drittanbieter' %}</h1>
    {% if messages %}
        {% for message in messages %}
            <p class="{{ message.level_tag }}-message">{{ message|safe }}</p>
        {% endfor %}
    {% endif %}
    <p>{% trans 'Beim Versuch, sich über Ihr Drittanbieterkonto anzumelden, ist ein Fehler aufgetreten.' %}</p>
    <a href="{% url 'login_view' %}" class="redirect-link">
        <span>{% trans 'Zurück zum Login' %}</span>
        <span class="redirect-link-icon">→</span>
    </a>
{% endblock %}