{% extends 'base.html' %}
{% load i18n %}
{% load socialaccount %}

{% block meta %}
    <meta name="description" content="{% trans 'Logge dich über deinen Google Account ein.' %}">
{% endblock %}

{% block title %}{% trans 'Login über Google' %} - ClimateQuest{% endblock %}

{% block content %}
    <h1>Login über Google</h1>
    {% if messages %}
        {% for message in messages %}
            <p class="{{ message.level_tag }}-message">{{ message|safe }}</p>
        {% endfor %}
    {% endif %}
    <form method="post" action="{% provider_login_url 'google' %}">
        {% csrf_token %}
        <button type="submit">Mit Google fortfahren</button>
    </form>
{% endblock %}