{% extends 'base.html' %}

{% block meta %}
    <meta name="robots" content="noindex, nofollow">
{% endblock %}

{% block title %}Benachrichtigungen erstellen - Admin{% endblock %}

{% block content %}
    <h1>Benachrichtigungen erstellen - Admin</h1>
    {% if messages %}
        {% for message in messages %}
            <p class="{{ message.level_tag }}-message">{{ message }}</p>
        {% endfor %}
    {% endif %}
    <h3>Benachrichtigung erstellen</h3>
    <form method="post" class="form-confirm" data-confirm="Möchtest du diese Benachrichtigung wirklich erstellen?">
        <label for="receiver">{% csrf_token %}</label><select name="receiver" id="receiver">
        <option value="user" selected>User</option>
        <option value="family-members">Family-Members</option>
        <option value="community-members">Community-Members</option>
        <option value="event-participants">Event-Teilnehmer</option>
    </select>
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" placeholder="Username" required/>
        <label for="msg">Nachricht:</label>
        <input type="text" name="msg" id="msg" placeholder="Nachricht" maxlength="500" required/>
        <label for="url">Nachricht:</label>
        <input type="text" name="url" id="url" placeholder="URL" maxlength="500"/>
        <button type="submit" name="benachrichtigung">Erstellen</button>
        <small>Wenn alle User erreicht werden sollen, bitte Family 'worldwide ranking' angeben</small>
    </form>
    <script nonce="{{ request.csp_script_nonce }}">
        document.getElementById('receiver').addEventListener('change', function () {
            const receiver = this.value;
            const nameInput = document.getElementById('name');
            if (receiver === 'user') {
                nameInput.placeholder = 'Username';
            } else if (receiver === 'family-members') {
                nameInput.placeholder = 'Family-Name';
            } else if (receiver === 'community-members') {
                nameInput.placeholder = 'Community-Name';
            } else if (receiver === 'event-participants') {
                nameInput.placeholder = 'Event-Id';
            }
        });
    </script>
{% endblock %}