{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block meta %}
    <meta name="description"
          content="{% trans 'Gib uns Feedback zu ClimateQuest! Hier kannst du uns deine Meinung, Verbesserungsvorschläge oder Fehlerberichte mitteilen, damit wir ClimateQuest weiter verbessern können.' %}">
{% endblock %}

{% block title %}{% trans "Feedback - ClimateQuest" %}{% endblock %}

{% block content %}
    <h1>{% trans "Feedback" %}</h1>
    {% if messages %}
        {% for message in messages %}
            <p class="{{ message.level_tag }}-message">{{ message|safe }}</p>
        {% endfor %}
    {% endif %}
    <p>{% trans "Feedback kannst du uns jederzeit mitteilen. Hierfür gibt es folgende Möglichkeiten:" %}</p>
    <ul>
        <li>{% trans "Per Mail:" %} <a
                href="mailto:info@climate-quest.de?subject=Bug%20Meldung%20-%20[Kurze%20Beschreibung%20des%20Bugs]&body=Hi%2C%0D%0A%0D%0Aich%20habe%20einen%20Bug%20gefunden%20und%20möchte%20ihn%20melden.%0D%0A%0D%0A--%0D%0ABitte%20fülle%20folgende%20Felder%20aus%3A%0D%0A%0D%0ABetriebssystem%3A%20[z.B.%20Windows%2011%2C%20macOS%20Tahoe%2C%20iOS%2026%2C%20Android%2016]%0D%0ABrowser%2FApp%3A%20[z.B.%20Chrome%20%2C%20Firefox%20%2C%20Safari%20%2C%20iOS%20App%20v1.2%2C%20Android%20App%20v1.0]%0D%0A%0D%0ABetroffene%20Seite%2FURL%3A%20[z.B.%20https%3A%2F%2Fclimate-quest.de%2Fdashboard%2F]%0D%0A%0D%0ABeschreibung%20des%20Problems%3A%0D%0A[Hier%20genaue%20Schritte%20beschreiben%2C%20was%20passiert%20ist%2C%20inkl.%20Screenshots%20oder%20Fehlermeldungen%2C%20falls%20vorhanden.]%0D%0A%0D%0A--%0D%0AVielen%20Dank%20für%20die%20Meldung%21%0D%0AWir%20löschen%20die%20E-Mail%20und%20deine%20E-Mail-Adresse%20nach%20der%20Bearbeitung.%0D%0A">
            {% trans "Fehler melden" %}
        </a></li>
        <li>{% trans "Per Feedback-Formular:" %} <a
                href="https://forms.gle/RdYiE52u8PcUaX5b7">{% trans "Feedback-Formular" %}</a></li>
    </ul>
{% endblock %}