{% extends "base.html" %}
{% load static %}
{% load development %}
{% load production %}
{% load i18n %}
{% block meta %}
    <meta name="description"
          content="Willkommen bei ClimateQuest. Motiviere dich selbst für mehr Klimaschutz, indem du Klimapunkte sammelst und dich mit anderen Usern vergleichst. Teile dein Wissen in Artikeln oder im Forum und leiste deinen Beitrag zum Klimaschutz.">
    <link rel="stylesheet" href="{% static 'libraries/splide/splide.min.css' %}">
{% endblock %}
{% block title %}{% trans "Startseite" %}{% endblock %}

{% block content %}
    <style nonce="{{ request.csp_style_nonce }}">
        #counters {
            display: flex;
            flex-wrap: wrap;
            gap: 2rem;
            justify-content: center;
            padding: 2rem;
            background: var(--color-counters-bg);
            border-radius: 12px;
            box-shadow: var(--shadow-md);
            font-family: 'Segoe UI', sans-serif;
            margin: 20px;
        }

        #counters > div {
            flex: 1 1 300px;
            background: var(--color-bg);
            border: 1px solid var(--color-border);
            border-radius: 10px;
            padding: 1.5rem;
            text-align: center;
            transition: transform 0.3s ease;
        }

        #counters > div:hover {
            transform: translateY(-5px);
            box-shadow: var(--shadow-md);
        }

        #counters .h3_size {
            font-size: 2.5rem;
            margin: 0.5rem 0;
            color: var(--color-counters);
            font-weight: bold;
        }

        #counters p {
            font-size: 1rem;
            margin: 0.5rem 0;
            color: var(--color-text);
        }

        #co2_per_klimapunkt {
            font-weight: bold;
            color: var(--color-counters);
        }

        .slider-heading {
            position: absolute;
            color: white;
            text-align: center;
            top: 160px;
            left: 50%;
            transform: translateX(-50%) translateY(20px);
            font-size: 3rem;
            opacity: 0;
            animation: fadeUp 1.2s ease-out forwards;
            z-index: 20;
            text-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
            pointer-events: none;
        }

        @keyframes fadeUp {
            from {
                opacity: 0;
                transform: translateX(-50%) translateY(40px);
            }
            to {
                opacity: 1;
                transform: translateX(-50%) translateY(0);
            }
        }

        @media (max-width: 1200px) {
            .slider-heading {
                position: static;
                transform: none;
                text-align: center;
                font-size: 2rem;
                margin: 20px 0;
                animation: fadeUpMobile 1.2s ease-out forwards;
                color: var(--color-text);
            }

            @keyframes fadeUpMobile {
                from {
                    opacity: 0;
                    transform: translateY(20px);
                }
                to {
                    opacity: 1;
                    transform: translateY(0);
                }
            }
        }


        #mobile-app-div {
            display: none;
        }
    </style>
    {% if user.is_authenticated %}
        <a href="{% url 'dashboard' %}" class="redirect-link ">
            <span>{% trans "Zum Dashboard" %}</span>
            <span class="redirect-link-icon">→</span>
        </a>
    {% endif %}

    <h1 class="slider-heading">{% trans "ClimateQuest - Motivation für mehr Klimaschutz" %}</h1>
    <section class="splide" aria-label="Splide Basic HTML Example">
        <div class="splide__track">
            <ul class="splide__list">
                <li class="splide__slide">
                    <picture class="active">
                        <source type="image/avif" srcset="
                    {% static 'images/plant-tree/plant-tree-320.avif' %} 320w,
                    {% static 'images/plant-tree/plant-tree-640.avif' %} 640w,
                    {% static 'images/plant-tree/plant-tree-1280.avif' %} 1280w,
                    {% static 'images/plant-tree/plant-tree-1920.avif' %} 1920w
                    " sizes="100vw"
                        >

                        <source type="image/webp" srcset="
                    {% static 'images/plant-tree/plant-tree-320.webp' %} 320w,
                    {% static 'images/plant-tree/plant-tree-640.webp' %} 640w,
                    {% static 'images/plant-tree/plant-tree-1280.webp' %} 1280w,
                    {% static 'images/plant-tree/plant-tree-1920.webp' %} 1920w
                    " sizes="100vw"
                        >

                        <img src="{% static 'images/plant-tree/plant-tree-fallback.png' %}"
                             alt="{% trans 'Bild, auf dem ein Baum gepflanzt wird' %}">
                    </picture>
                </li>
                <li class="splide__slide">
                    <picture class="active">
                        <source type="image/avif" srcset="
                    {% static 'images/ice-train/ice-train-320.avif' %} 320w,
                    {% static 'images/ice-train/ice-train-640.avif' %} 640w,
                    {% static 'images/ice-train/ice-train-1280.avif' %} 1280w,
                    {% static 'images/ice-train/ice-train-1920.avif' %} 1920w
                    " sizes="100vw"
                        >

                        <source type="image/webp" srcset="
                    {% static 'images/ice-train/ice-train-320.webp' %} 320w,
                    {% static 'images/ice-train/ice-train-640.webp' %} 640w,
                    {% static 'images/ice-train/ice-train-1280.webp' %} 1280w,
                    {% static 'images/ice-train/ice-train-1920.webp' %} 1920w
                    " sizes="100vw"
                        >

                        <img src="{% static 'images/ice-train/ice-train-fallback.png' %}"
                             alt="{% trans 'Bild eines Zugs' %}">
                    </picture>
                </li>
                <li class="splide__slide">
                    <picture>
                        <source type="image/avif" srcset="
                    {% static 'images/vegan/vegan-320.avif' %} 320w,
                    {% static 'images/vegan/vegan-640.avif' %} 640w,
                    {% static 'images/vegan/vegan-1280.avif' %} 1280w,
                    {% static 'images/vegan/vegan-1920.avif' %} 1920w
                    " sizes="100vw"
                        >

                        <source type="image/webp" srcset="
                    {% static 'images/vegan/vegan-320.webp' %} 320w,
                    {% static 'images/vegan/vegan-640.webp' %} 640w,
                    {% static 'images/vegan/vegan-1280.webp' %} 1280w,
                    {% static 'images/vegan/vegan-1920.webp' %} 1920w
                    " sizes="100vw"
                        >

                        <img src="{% static 'images/vegan/vegan-fallback.png' %}"
                             alt="{% trans 'Bild eines veganes Gerichts' %}">
                    </picture>
                </li>
                <li class="splide__slide">
                    <picture>
                        <source type="image/avif" srcset="
                    {% static 'images/mail/mail-320.avif' %} 320w,
                    {% static 'images/mail/mail-640.avif' %} 640w,
                    {% static 'images/mail/mail-1280.avif' %} 1280w,
                    {% static 'images/mail/mail-1920.avif' %} 1920w
                    " sizes="100vw"
                        >

                        <source type="image/webp" srcset="
                    {% static 'images/mail/mail-320.webp' %} 320w,
                    {% static 'images/mail/mail-640.webp' %} 640w,
                    {% static 'images/mail/mail-1280.webp' %} 1280w,
                    {% static 'images/mail/mail-1920.webp' %} 1920w
                    " sizes="100vw"
                        >

                        <img src="{% static 'images/mail/mail-fallback.png' %}"
                             alt="{% trans 'Bild eines Mailprogramms' %}">
                    </picture>
                </li>
            </ul>
        </div>
    </section>
    <p class="splide__caption" id="splide__caption"></p>

    <script src="{% static 'libraries/splide/splide.min.js' %}"></script>
    <script nonce="{{ request.csp_script_nonce }}">
        const splide = new Splide('.splide', {
            type: 'loop',
            rewind: true,
            rewindByDrag: true,
        }).mount();

        const caption = document.querySelector('.splide__caption');
        const caption_list = {
            0: '{% trans "User BrunnerL3 wurde durch ClimateQuest dazu motiviert, einen Baum zu pflanzen" %}',
            1: '{% trans "User Maradona wurde durch ClimateQuest dazu motiviert, mit dem Zug statt mit dem Flugzeug zu reisen" %}',
            2: '{% trans "User Jessi wurde durch ClimateQuest dazu motiviert, weniger Käse zu essen" %}',
            3: '{% trans "User Jessi wurde durch ClimateQuest dazu motiviert, E-Mails regelmäßig zu löschen" %}',
        }

        splide.on('move', function (newIndex) {
            changeCaption(newIndex);
        });

        function changeCaption(index) {
            caption.textContent = caption_list[index];
        }

        changeCaption(0);
    </script>
    <style nonce="{{ request.csp_style_nonce }}">
        @media (max-width: 1200px) {
            .splide__pagination__page {
                min-height: unset !important;
                min-width: unset !important;
                display: block !important;
            }
        }

        .splide__arrow {
            transform: unset !important;
        }

        .splide__caption {
            color: #8f8f8f;
        }

        .splide__slide img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
        }
    </style>


    <hr>
    {% if messages %}
        {% for message in messages %}
            <p class="{{ message.level_tag }}-message">{{ message|safe }}</p>
        {% endfor %}
        <hr>
    {% endif %}


    {% if not user.is_authenticated %}
        <div class="btns"><a href="{% url 'register_view' %}">
            <button class="btn">{% trans "Jetzt registrieren!" %}</button>
        </a></div>
        <hr>
    {% endif %}
    <h2>{% trans "Übersicht" %}</h2>

    <input type="hidden" id="user_count" value="{{ user_count }}">
    <input type="hidden" id="klimapunkte" value="{{ klimapunkte|floatformat:0 }}">
    <input type="hidden" id="tree_count" value="{{ tree_count }}">

    <div id="counters">
        <div id="user_zaehler_div">
            <p class="h3_size" id="user_zaehler">{{ user_count }}</p>
            <p>{% trans "registrierte Nutzer hat diese Plattform bereits." %}</p>
        </div>

        <div id="klimapunkte_zaehler_div">
            <p class="h3_size" id="klimapunkte_zaehler">{{ klimapunkte }}</p>
            <p>{% trans "Klimapunkte wurden von all diesen Nutzern zusammen bereits gesammelt." %}</p>
        </div>

        <div id="co2_zaehler_div">
            <p>{% blocktrans %}Weil jeder Klimapunkt ungefähr für <b id="co2_per_klimapunkt">1 kg</b> eingespartes CO₂
                steht, wurden dadurch insgesamt{% endblocktrans %}</p>
            <p class="h3_size" id="co2_zaehler"></p>
            <p>{% trans "Tonnen CO2e eingespart." %}</p>
        </div>

        <div id="tree_zaehler_div">
            <p>{% trans "Außerdem wurden insgesamt" %}</p>
            <p class="h3_size" id="tree_zaehler">{{ tree_count }}</p>
            <p>{% trans "Bäume gepflanzt." %}</p>
        </div>
    </div>

    <div id="mobile-app-div">
        <hr>
        <p>{% trans "Keine Lust, ClimateQuest als Webseite zu verwenden?" %} <a href="{% url 'mobile_apps' %}"
                                                                                class="redirect-link">
            <span>{% trans "ClimateQuest als App downloaden" %}</span> <span class="redirect-link-icon">→</span> </a>
        </p>
    </div>
    <script nonce="{{ request.csp_script_nonce }}">
        if (!isStandalone) {
            document.getElementById("mobile-app-div").style.display = "block";
        }
    </script>

    <hr>
    <a href="https://de.trustpilot.com/review/climate-quest.de" target="_blank"
       class="redirect-link dont-show-loading">
        <span>{% trans "Bewerten Sie uns auf Trustpilot" %}</span>
        <span class="redirect-link-icon">→</span>
    </a>
    <hr>

    <a href="{% url 'companies_and_schools' %}" class="redirect-link dont-show-loading">
        <span>{% trans "ClimateQuest für Schulen und Unternehmen" %}</span>
        <span class="redirect-link-icon">→</span>
    </a>
    <hr>

    <div class="btns">
        <a href="{% url 'artikel_detail' 5 %}">
            <button class="btn">{% trans "Wie ClimateQuest funktioniert" %}</button>
        </a>
        {% if user.is_authenticated %}
            <a href="{% url 'add' %}">
                <button class="btn">{% trans "Aktion hinzufügen" %}</button>
            </a>
            {% if not request.user.families.count > 1 %}
                <a href="{% url 'create_family' %}">
                    <button class="btn">{% trans "Family gründen" %}</button>
                </a>
                <a href="{% url 'join_family' %}">
                    <button class="btn">{% trans "Family beitreten" %}</button>
                </a>
            {% endif %}
        {% endif %}

    </div>

    <script nonce="{{ request.csp_script_nonce }}">
        document.addEventListener("DOMContentLoaded", function () {
            const user_zaehler = document.getElementById('user_zaehler');
            const klimapunkte_zaehler = document.getElementById('klimapunkte_zaehler');
            const co2_zaehler = document.getElementById('co2_zaehler');
            const tree_zaehler = document.getElementById('tree_zaehler');

            //let user_count = document.getElementById('user_count').value;
            //let klimapunkte = document.getElementById('klimapunkte').value;
            //let tree_count = document.getElementById('tree_count').value;


            animateCount(user_zaehler, {{ user_count }});
            animateCount(klimapunkte_zaehler, {{ klimapunkte }});
            animateCount(co2_zaehler, {{ co2 }});
            animateCount(tree_zaehler, {{ tree_count }});
        });

        function animateCount(element, endValue, maxDuration = 1500) {
            let startValue = 0;

            let stepTime = 10;
            let steps = Math.floor(maxDuration / stepTime);

            if (endValue > steps) {
                startValue = endValue - steps;
            }

            let current = startValue;
            const increment = (endValue - startValue) / steps;

            const timer = setInterval(() => {
                current += increment;
                if (current >= endValue) {
                    current = endValue;
                    clearInterval(timer);
                }
                element.textContent = Math.floor(current);
            }, stepTime);
        }
    </script>
{% endblock %}