{% extends "base.html" %}
{% block meta %}
    <meta name="description"
          content="Die Nutzungsbedingungen von ClimateQuest sollen sicherstellen, dass die Plattform nicht missbraucht wird, sondern nur dem Ziel folgt, dem Klima tatsächlich zu helfen.">
{% endblock %}
{% block title %}ClimateQuest - Nutzungsbedingungen{% endblock %}

{% block content %}
    <h1>Nutzungsbedingungen</h1>
    {% if messages %}
        {% for message in messages %}
            <p class="{{ message.level_tag }}-message">{{ message }}</p>
        {% endfor %}
    {% endif %}

    <h2>1. Allgemeines</h2>
    <p>Diese App bietet registrierten Nutzern die Möglichkeit, eigene Artikel, Fragen, Antworten, Kommentare
        und Events zu veröffentlichen sowie Aktionen hinzuzufügen und dafür Punkte zu erhalten. Die Nutzung der App
        setzt die Einhaltung dieser Nutzungsbedingungen voraus. Bei
        Verstößen behalten wir uns das Recht vor, Nutzerkonten zu sperren oder zu löschen.</p>
    <p>Alle Inhalte müssen mit Klimaschutz zu tun haben.</p>
    <p>Beim Hochladen von Inhalten sind die Urheberrechte Dritter zu beachten. Es dürfen keine Inhalte hochgeladen
        werden, für die nicht die entsprechenden Nutzungsrechte vorliegen.
        Mit dem Hochladen von Inhalten räumt der Nutzer dem Betreiber ein zeitlich, räumlich und inhaltlich
        unbeschränktes, unentgeltliches Nutzungsrecht an den Inhalten ein. Dieses umfasst insbesondere das Recht,
        die Inhalte zu speichern, zu veröffentlichen, zu vervielfältigen, öffentlich zugänglich zu machen sowie
        im Rahmen der App und verbundener Angebote zu verwenden. Das Urheberrecht verbleibt beim jeweiligen Nutzer.</p>
    <p>Sofern Nutzer noch nicht volljährig sind, dürfen sie die App nur nutzen, wenn eine erziehungsberechtigte
        Person der Geltung dieser Nutzungsbedingungen zugestimmt hat. Mit der Nutzung bestätigen Nutzer, hierzu
        berechtigt zu sein.</p>

    <h2>2. Nutzerpflichten</h2>

    <h3>2.1 Aktionen</h3>
    <ul>
        <li>Die Angaben müssen nach bestem Wissen und Gewissen gemacht werden.</li>
    </ul>

    <h3>2.2 Artikel</h3>
    <ul>
        <li>Alle inhaltlichen Aussagen müssen mit <strong>mindestens zwei seriösen Quellen</strong> übereinstimmen,
            welche im Artikel auch genau angegeben werden müssen (z.B. Internetseite, Europäische Kommission, Folgen des
            Klimawandels, https://climate.ec.europa.eu/climate-change/consequences-climate-change_de)
        </li>
        <li>Beim Hochladen von Inhalten sind die Urheberrechte Dritter zu beachten. Es dürfen keine Inhalte hochgeladen
            werden, für die nicht die entsprechenden Nutzungsrechte vorliegen. Mit dem Hochladen von Inhalten räumt der
            Nutzer dem Betreiber ein zeitlich, räumlich und inhaltlich
            unbeschränktes, unentgeltliches Nutzungsrecht an den Inhalten ein. Dieses umfasst insbesondere das Recht,
            die Inhalte zu speichern, zu veröffentlichen, zu vervielfältigen, öffentlich zugänglich zu machen sowie
            im Rahmen der App und verbundener Angebote zu verwenden.
        </li>
        <li>Artikel dürfen keine Werbung, Affiliate-Links oder ähnliche kommerzielle Absichten und Inhalte enthalten.
        </li>
        <li>Spekulative, irreführende oder beleidigende Inhalte sind untersagt.</li>
    </ul>

    <h3>2.3 Forum</h3>
    <ul>
        <li>Fragen müssen <strong>ernst gemeint</strong> sein und einen sachlichen Hintergrund haben.</li>
        <li>Antworten müssen nach bestem Wissen und Gewissen erfolgen und dürfen nicht vorsätzlich falsch oder
            irreführend sein.
        </li>
        <li>Spekulative, irreführende oder beleidigende Inhalte sind untersagt.</li>
        <li>Forumsbeiträge oder -antworten dürfen keine Werbung, Affiliate-Links oder ähnliche kommerzielle Absichten
            und Inhalte enthalten.
        </li>

    </ul>

    <h3>2.4 Kommentare</h3>
    <ul>
        <li>Kommentare müssen <strong>konstruktiv</strong> und <strong>respektvoll</strong> formuliert sein.</li>
        <li>Beleidigende, diskriminierende oder herabwürdigende Inhalte sind strikt untersagt.</li>
        <li>Kommentare dürfen keine Werbung, Affiliate-Links oder ähnliche kommerzielle Absichten und Inhalte enthalten.
        </li>
    </ul>

    <h3>2.5 Events</h3>
    <ul>
        <li>Das Event muss <strong>tatsächlich stattfinden</strong>.</li>
        <li>Fiktive oder erfundene Events sind nicht erlaubt.</li>
        <li>Mit dem Erstellen eines Events verpflichtet sich der User, selbst an diesem teilzunehmen.</li>
        <li>Events dürfen keine Werbung, Affiliate-Links oder ähnliche kommerzielle Absichten und Inhalte enthalten.
        </li>
    </ul>

    <h2>3. Moderation und Sanktionen</h2>
    <p>Bei Verstößen gegen diese Nutzungsbedingungen behalten wir uns folgende Maßnahmen vor:</p>
    <ul>
        <li>Löschung einzelner Inhalte</li>
        <li>Verwarnung des Nutzers</li>
        <li>Sperrung oder vollständige Löschung des Nutzerkontos</li>
    </ul>
    <p>User können bei Verstoß gegen die Nutzungsbedingungen jederzeit von anderen Usern auf deren Userseite gemeldet
        werden. Das unbegründete Melden anderer User stellt allerdings auch einen Verstoß gegen die Nutzungsbedingungen
        dar und kann entsprechend geahndet werden.</p>
    <p>Die Entscheidung über Maßnahmen und Sanktionen erfolgt nach pflichtgemäßem Ermessen unter Berücksichtigung der
        Schwere und Häufigkeit des Verstoßes.</p>

    <h2>Haftung für Nutzerinhalte</h2>
    <p>Für Inhalte, die von Nutzern erstellt und veröffentlicht werden, ist ausschließlich der jeweilige Nutzer
        verantwortlich. Der Betreiber macht sich diese Inhalte nicht zu eigen.</p>
    <p>Bei Kenntnis von Rechtsverstößen werden entsprechende Inhalte unverzüglich geprüft und gegebenenfalls
        entfernt.</p>


    <h2>4. Änderungen der Nutzungsbedingungen</h2>
    <p>Wir behalten uns vor, diese Nutzungsbedingungen bei Bedarf anzupassen. Die jeweils aktuelle Version ist jederzeit
        unter <a href="{{ request.build_absolute_uri }}">dieser Seite verfügbar</a>.</p>
{% endblock %}