{% extends 'base.html' %}

{% block meta %}
    <meta name="robots" content="noindex, nofollow">
{% endblock %}

{% block title %}ClimateQuest - Aktion bearbeiten{% endblock %}

{% block content %}
    <h1>Aktion bearbeiten</h1>

    {% if messages %}
        {% for message in messages %}
            <p class="{{ message.level_tag }}-message">{{ message }}</p>
        {% endfor %}
    {% endif %}

    {% if error %}
        {% for single_error in error %}
            <p class="error-message">{{ error }}</p>
        {% endfor %}
    {% endif %}

    <ul class="action-list">
        <li class="action-list-container">
            <p class="action-list-description">Aktion:</p>
            <p class="action-list-value">{{ aktuelleAktion.aktion.name }}</p>

            {% if aktuelleAktion.date %}
                <p class="action-list-description">Datum:</p>
                <p class="action-list-value">{{ aktuelleAktion.date|date:"d.m.Y" }}</p>
            {% endif %}

            {% if aktuelleAktion.description %}
                <p class="action-list-description">Beschreibung:</p>
                <p class="action-list-value">{{ aktuelleAktion.description }}</p>
            {% endif %}

            <p class="action-list-description">Klimapunkte:</p>
            <p class="action-list-value">{{ aktuelleAktion.impact|floatformat:4 }}</p>

            <p class="action-list-description">{{ aktuelleAktion.aktion.mengeBeschreibung }}</p>
            <p class="action-list-value">{{ aktuelleAktion.quantity }} {{ aktuelleAktion.einheit }}</p>
        </li>
    </ul>

    <button class="info-btn" id="anmerkung-button" onclick="toggleAnmerkung()" style="display: none;" type="button">?
    </button>
    <div id="anmerkung-box" class="anmerkung-box" style="display: none;"></div>

    <form method="POST" onsubmit="return validateNumber(event)">
        {% csrf_token %}
        <label for="action_type" class="action-label">Aktionstyp:</label>
        <select name="action_type" class="action-label" id="action_type" required>
            <option value="" disabled selected>Aktionstyp auswählen ▾</option>
            {% for aktion in aktionen %}
                <option value="{{ aktion.name }}" data-klimapunkte="{{ aktion.klimapunkte|floatformat:-4 }}" data-anmerkung="{{ aktion.anmerkung|safe }}" data-mengebeschreibung="{{ aktion.mengeBeschreibung }}" data-aktiondate="{{ aktion.date }}">{{ aktion.name }}</option>
            {% endfor %}
        </select>
        <br/>

        <p id="klimapunkte_anzeige" class="action-label"></p>

        <label for="action_description" class="action-label">Beschreibung:</label>
        <input type="text" id="action_description" name="action_description" placeholder="Optional"/>
        <br/>

        <label for="action_quantity" class="action-label" id="action_quantity_label">Menge:</label>
        <input type="text" id="action_quantity" name="action_quantity" required/>
        <br/>

        <p id="impact_anzeige" class="action-label"></p>

        <label for="action_date" class="action-label">Datum:</label>
        <input type="date" id="action_date" name="action_date" required/>
        <br/>

        <label class="custom-checkbox">
            <input type="checkbox" name="is_truth">
            <span class="checkmark"></span>
            <span class="label-text">Ich bestätige, dass alle Angaben der Wahrheit entsprechen und mit den <a href="{% url 'nutzungsbedingungen' %}">Nutzungsbedingungen</a> übereinstimmen.</span>
        </label>

        <button type="submit">Hinzufügen</button>
    </form>

    <script>
        function submit(event) {
            const form = event.target;
            event.preventDefault(); // Verhindert das sofortige Absenden des Formulars
            const quantityInput = document.getElementById('action_quantity');
            let quantity = quantityInput.value.trim();
            quantity = validateNumber(quantity);
            if (quantity !== false) {
                document.getElementById('action_quantity').value = quantity;
                form.submit(); // Sendet das Formular ab
            } else {
                alert('Bitte geben Sie eine gültige, positive Zahl ohne Sonderzeichen (Ausnahme: Komma) für die Menge ein.');
                return false;
            }
        }

        function validateNumber(input) {
            input = input.toString();
            if (input == "" || input.includes('.')) {
                return false;
            }
            input = input.replace(',', '.');
            try {
                input = parseFloat(input);
            } catch (e) {
                console.warn(e);
                return false;
            }
            if (input <= 0) {
                return false;
            }
            return input;
        }

        document.getElementById('action_type').addEventListener('change', function () {
            const selected = document.querySelector('#action_type').selectedOptions[0];

            const anmerkungBox = document.getElementById('anmerkung-box');
            const anmerkungButton = document.getElementById('anmerkung-button');

            const klimapunkte_anzeige = document.getElementById('klimapunkte_anzeige');
            const action_quantity_label = document.getElementById('action_quantity_label');

            let anmerkung = selected.dataset.anmerkung;
            let klimapunkte = selected.dataset.klimapunkte;
            let mengeBeschreibung = selected.dataset.mengebeschreibung;


            action_quantity_label.textContent = mengeBeschreibung;
            klimapunkte_anzeige.textContent = 'Klimapunkte pro ' + mengeBeschreibung + ': ' + klimapunkte;
            calculateImpact();

            if (anmerkung != '') {
                anmerkungButton.style.display = 'inline-block';
                anmerkungBox.textContent = anmerkung;
            } else {
                anmerkungButton.style.display = 'none';
                anmerkungBox.textContent = '';
                anmerkungBox.style.display = 'none';
            }
        })

        document.getElementById('action_quantity').addEventListener('input', calculateImpact);

        function calculateImpact() {
            const selected = document.querySelector('#action_type').selectedOptions[0];
            const impact_anzeige = document.getElementById('impact_anzeige');

            let klimapunkte = selected.dataset.klimapunkte;
            klimapunkte = validateNumber(klimapunkte);

            const quantityInput = document.getElementById('action_quantity');
            let quantity = quantityInput.value.trim();
            quantity = validateNumber(quantity);

            if (quantity === false) {
                impact_anzeige.textContent = '';
                return;
            }

            let impact = klimapunkte * quantity;

            if (isNaN(impact)) {
                impact_anzeige.textContent = '';
            } else {
                impact = Intl.NumberFormat('de-DE', { minimumFractionDigits: 4, maximumFractionDigits: 4 }).format(impact);
                impact_anzeige.textContent = 'Insgesamt durch diese Aktion gewonnene Klimapunkte: ' + impact;
            }
        }

        function toggleAnmerkung() {
            const box = document.getElementById('anmerkung-box');
            box.style.display = box.style.display === 'none' ? 'block' : 'none';
        }
    </script>


    <form method="post" onsubmit="return confirm('Willst du diese Aktion wirklich löschen?');">
        {% csrf_token %}
        <button type="submit" name="delete_action" style="color:red;">Diese Aktion löschen</button>
    </form>
{% endblock %}