{% extends 'base.html' %}

{% block meta %}
    <meta name="robots" content="noindex, nofollow">
{% endblock %}

{% block title %}ClimateQuest - {% if community %}Community {{ community.name }}{% else %}Die Community konnte nicht
    geladen werden.{% endif %} {% endblock %}

{% block content %}
    {% if error %}
        <p class="error-message">{{ error }}</p>
    {% endif %}
    <h1>Community <i>{{ community.name }}</i></h1>
    <h3>Eingeloggt mit Family <a href="{% url 'family_detail' family.id%}">{{ family.name }}</a></h3>

    {% if messages %}
        {% for message in messages %}
            <p class="{{ message.level_tag }}-message">{{ message }}</p>
        {% endfor %}
    {% endif %}

    <p><a href="{% url 'edit_community' community.id family.id %}">Bearbeiten</a></p>
    {% if community.chat %}
        <p><a href="{% url 'chat_community' community.id family.id %}">Chatten</a></p>
    {% else %}
        <p>Die Chat-Funktion ist für diese Community deaktiviert.</p>
    {% endif %}

    <form method="POST">
        {% csrf_token %}
        <label for="zeitraum">Zeitraum auswählen</label>
        <select name="zeitraum" id="zeitraum" required>
            <option value="gesamt" selected>Gesamt</option>
            <option value="heute">Heute</option>
            <option value="sieben Tage">7 Tage</option>
            <option value="dreißig Tage">30 Tage</option>
            <option value="dreihundertfünfundsechzig Tage">365 Tage</option>
            <option value="benutzerdefiniert">Benutzerdefiniert</option>
        </select>

        <div id="hiddenDateDiv" style="display: none;">
            <label for="start_date">Startdatum:</label>
            <input type="date" name="start_date" id="start_date" placeholder="Startdatum" value="">
            <label for="end_date">Enddatum:</label>
            <input type="date" name="end_date" id="end_date" placeholder="Enddatum" value="">
        </div>

        <button type="submit">Anwenden</button>
    </form>

    {% if not error %}
        <p>Zeitraum: {{ zeitraum }}</p>
    {% endif %}

    <script>
        document.getElementById("zeitraum").addEventListener("change", function () {
            const hiddenDateDiv = document.getElementById("hiddenDateDiv");

            if (this.value === "benutzerdefiniert") {
                hiddenDateDiv.style.display = "block";
            } else {
                hiddenDateDiv.style.display = "none";
            }
        });
    </script>
    <script>
        let rank = 1;
        let div_rank;
        let rank_span;
    </script>
    <ul class="klimapunkte-list">
        {% for member in members_with_klimapunkte %}
            <li class="{% if member.member.name == family.name %}klimapunkte_me{% else %}klimapunkte_other{% endif %}"
                id="{% if member.member.name == family.name %}me{% else %}other{% endif %}">
                <span><span style="color: #888;" id="rank_{{ member.member.id }}"></span><a
                        href="{% url 'family_detail' member.member.id %}">{{ member.member.name }}</a></span>
                <br>
                <span style="font-size:0.95em; color:#888;">(durchschnittlich {{ member.klimapunkte|floatformat:-4 }} Klimapunkte)</span>
            </li>
            <script>
                rank_span = document.getElementById("rank_{{member.member.id}}");
                rank_span.innerText = rank + ". ";
                div_rank = rank_span.closest("li");
                if (rank == 1) {
                    div_rank.style.borderLeft = "4px solid #FFD700";  // Gold
                } else if (rank == 2) {
                    div_rank.style.borderLeft = "4px solid #C0C0C0";  // Silber
                } else if (rank == 3) {
                    div_rank.style.borderLeft = "4px solid #CD7F32";  // Bronze
                }
                rank++;
            </script>
        {% endfor %}
    </ul>
    <a href="#me" class="me-btn">Zu mir</a>
{% endblock %}