{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block meta %}
    <meta name="description"
          content="{% trans 'Erstelle eine neue Community bei ClimateQuest, um sich mit anderen Families zu vergleichen und auszutauschen.' %}">
{% endblock %}
{% block title %}{% trans "Community erstellen" %}{% endblock %}

{% block content %}
    <h1>{% trans "Community erstellen" %}</h1>
    {% if messages %}
        {% for message in messages %}
            <p class="{{ message.level_tag }}-message">{{ message }}</p>
        {% endfor %}
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <label for="communityname">{% trans "Communityname:" %}</label>
        <small id="communityname-feedback"></small>
        <input type="text" id="communityname" name="communityname" placeholder="{% trans 'Communityname' %}" maxlength="100" required>
        <label for="password">{% trans "Passwort:" %}</label>
        <input type="password" id="password" name="community_password" placeholder="{% trans 'Passwort' %}" maxlength="100" required>
        <label for="community_admin_password">{% trans "Admin Passwort:" %}</label>
        <input type="password" name="community_admin_password" placeholder="{% trans 'Admin Passwort' %}"
               id="community_admin_password" maxlength="100" required>
        <label for="familyname">{% trans "Familyname:" %}</label>
        <input type="text" id="familyname" name="familyname" placeholder="{% trans 'Familyname' %}" required>
        <label for="family_admin_password">{% trans "Family Admin Passwort:" %}</label>
        <input type="password" id="family_admin_password" name="family_admin_password"
               placeholder="{% trans 'Family Admin Passwort' %}"
               required>
        <div>
            <h4>{% trans "Wir empfehlen folgende Admin-Passwort-Anforderungen, um die Community vor unerlaubter Bearbeitung zu schützen:" %}</h4>
            <ul class="criteria-list">
                <li id="length" class="error-message">{% trans "Mindestens acht Zeichen" %}</li>
                <li id="uppercase" class="error-message">{% trans "Mindestens ein Großbuchstabe" %}</li>
                <li id="lowercase" class="error-message">{% trans "Mindestens ein Kleinbuchstabe" %}</li>
                <li id="number" class="error-message">{% trans "Mindestens eine Zahl" %}</li>
                <li id="punctuation" class="error-message">{% trans "Mindestens ein Sonderzeichen" %}</li>
            </ul>
        </div>
        <button type="submit" id="create-button">{% trans "Community erstellen" %}</button>
    </form>
    {% url 'join_community' as join_community_link %}
    <p>{% blocktrans with join_community_link=join_community_link %}Oder <a href="{{ join_community_link }}">einer bestehenden Community beitreten</a>.{% endblocktrans %}</p>

    <script nonce="{{ request.csp_script_nonce }}">
        const passwordInput = document.getElementById('community_admin_password')
        const password_lenght = document.getElementById('length')
        const uppercase = document.getElementById('uppercase')
        const lowercase = document.getElementById('lowercase')
        const number = document.getElementById('number')
        const punctuation = document.getElementById('punctuation')

        passwordInput.addEventListener('input', function () {
            let password = this.value;

            password_lenght.className = password.length >= 8 ? "success-message" : "error-message"
            uppercase.className = /[A-Z]/.test(password) ? "success-message" : "error-message"
            lowercase.className = /[a-z]/.test(password) ? "success-message" : "error-message"
            number.className = /\d/.test(password) ? "success-message" : "error-message"
            punctuation.className = /[!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~]/.test(password) ? "success-message" : "error-message";
        });

        document.getElementById('communityname').addEventListener('input', function () {
            const communityname = this.value;
            const feedback = document.getElementById('communityname-feedback');
            const registerButton = document.getElementById('register-button');

            const errorMessage = document.getElementById('register-error');
            if (errorMessage) {
                errorMessage.style.display = 'none';
            }


            if (communityname.length > 0) {
                feedback.textContent = '{% trans "Überprüfe, ob Communityname bereits existiert..." %}';
                feedback.style.color = 'grey';
                fetch(`/community/check-communityname/?communityname=${encodeURIComponent(communityname)}`)
                    .then(response => response.json())
                    .then(data => {
                        if (data.exists) {
                            feedback.textContent = '{% trans "Communityname bereits vorhanden" %}';
                            feedback.style.color = 'red';
                        } else {
                            feedback.textContent = '{% trans "Communityname noch nicht vorhanden" %}';
                            feedback.style.color = 'green';
                        }
                    });
            } else {
                feedback.textContent = '';
            }
        });
    </script>

{% endblock %}