{% extends "base.html" %}

{% block meta %}
    <meta name="robots" content="noindex, nofollow">
{% endblock %}

{% block title %} {% if community %}Community {{ community.name }} bearbeiten{% else %}Die Community
    konnte nicht geladen werden.{% endif %} {% endblock %}

{% block content %}

    <h1>Community <a  href="{% url 'community_detail' community.id family.id %}">{{ community.name }}</a> bearbeiten</h1>
    <h3>Eingeloggt mit Family <a  href="{% url 'family_detail' family.id %}">{{ family.name }}</a></h3>

    {% if messages %}
        {% for message in messages %}
            <p class="{{ message.level_tag }}-message">{{ message|safe }}</p>
        {% endfor %}
    {% endif %}

    <h3>Communityname ändern</h3>
    <form method="post">
        {% csrf_token %}
        <label for="admin_password_communityname">Admin Passwort:</label>
        <input type="password" name="admin_password_communityname" id="admin_password_communityname" placeholder="Admin Passwort" required>
        <label for="new_communityname">Neuer Communityname:</label>
        <small id="communityname-feedback"></small>
        <input type="text" name="new_communityname" id="new_communityname" placeholder="Neuer Communityname" required>
        <button type="submit" name="change_communityname">Speichern</button>
    </form>

    <script nonce="{{ request.csp_script_nonce }}">
        document.getElementById('new_communityname').addEventListener('input', function () {
            const communityname = this.value;
            const feedback = document.getElementById('communityname-feedback');
            const registerButton = document.getElementById('register-button');

            if (communityname.length > 0) {
                feedback.textContent = 'Überprüfe, ob Communityname bereits existiert...';
                feedback.style.color = 'grey';
                fetch(`/community/check-communityname/?communityname=${encodeURIComponent(communityname)}`)
                    .then(response => response.json())
                    .then(data => {
                        if (data.exists) {
                            feedback.textContent = 'Communityname bereits vorhanden';
                            feedback.style.color = 'red';
                        } else {
                            feedback.textContent = 'Communityname noch nicht vorhanden';
                            feedback.style.color = 'green';
                        }
                    });
            } else {
                feedback.textContent = '';
            }
        });
    </script>

    <hr>

    <h3>Passwort ändern</h3>
    <form method="post" >
        {% csrf_token %}
        <label for="admin_password_password">Admin Passwort:</label>
        <input type="password" name="admin_password_password" id="admin_password_password" placeholder="Admin Passwort" required>
        <label for="new_password">Neues Passwort:</label>
        <input type="password" name="new_password" id="new_password" placeholder="Neues Passwort" required>
        <button type="submit" name="change_password">Speichern</button>
    </form>

    <hr>

    <h3>Admin Passwort ändern</h3>
    <form method="post" >
        {% csrf_token %}
        <label for="current_admin_password">Aktuelles Admin Passwort:</label>
        <input type="password" name="current_admin_password" id="current_admin_password"
               placeholder="aktuelles Admin Passwort" required>
        <label for="new_admin_password">Neues Admin Passwort:</label>
        <input type="password" name="new_admin_password" id="new_admin_password" placeholder="neues Admin Passwort"
               required>
        <div>
            <h4>Wir empfehlen folgende Admin-Passwort-Anforderungen, um die Community vor unerlaubter Bearbeitung zu
                schützen:
            </h4>
            <ul class="criteria-list">
                <li id="length" class="error-message">Mindestens acht Zeichen</li>
                <li id="uppercase" class="error-message">Mindestens ein Großbuchstabe</li>
                <li id="lowercase" class="error-message">Mindestens ein Kleinbuchstabe</li>
                <li id="number" class="error-message">Mindestens eine Zahl</li>
                <li id="punctuation" class="error-message">Mindestens ein Sonderzeichen</li>
            </ul>
        </div>
        <button type="submit" name="change_admin_password">Speichern</button>
    </form>
    <script nonce="{{ request.csp_script_nonce }}">
        const passwordInput = document.getElementById('new_admin_password')
        const password_lenght = document.getElementById('length')
        const uppercase = document.getElementById('uppercase')
        const lowercase = document.getElementById('lowercase')
        const number = document.getElementById('number')
        const punctuation = document.getElementById('punctuation')

        passwordInput.addEventListener('input', function () {
            let password = this.value;

            password_lenght.className = password.length >= 8 ? "success-message" : "error-message"
            uppercase.className = /[A-Z]/.test(password) ? "success-message" : "error-message"
            lowercase.className = /[a-z]/.test(password) ? "success-message" : "error-message"
            number.className = /\d/.test(password) ? "success-message" : "error-message"
            punctuation.className = /[!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~]/.test(password) ? "success-message" : "error-message";
        });

    </script>

    <hr>

    <h3>Mitglieder entfernen</h3>
    <form method="post" >
        {% csrf_token %}
        <label for="admin_password_remove">Admin Passwort:</label>
        <input type="password" name="admin_password_remove" id="admin_password_remove" placeholder="Admin Passwort" required>
        <label for="family_name">Familyname:</label>
        <input type="text" name="family_name" id="family_name" placeholder="Familyname" required>
        <button type="submit" name="remove_member" class="color-red">Speichern</button>
    </form>

    <hr>

    <h3>Community verlassen</h3>
    <form method="post" class="form-confirm" data-confirm="Willst du diese Community wirklich verlassen?">
        {% csrf_token %}
        <label for="family_admin_password">Family-Admin-Passwort:</label>
        <input type="password" name="family_admin_password" id="family_admin_password"
               placeholder="Family-Admin-Passwort" required>
        <button type="submit" name="leave_community" class="color-red">Diese Community verlassen</button>
    </form>

    <hr>

    <h3>Chat-Einstellungen</h3>
    <form method="post" >
        {% csrf_token %}
        <label for="admin_password_chat_settings">Admin Passwort:</label>
        <input type="password" name="admin_password_chat_settings" id="admin_password_chat_settings" placeholder="Admin-Passwort" required>
        <label class="custom-checkbox">
            <input type="hidden" id="chat_settings" value="{{ community.chat }}">
            <input type="checkbox" name="chat_checkbox" id="chat_checkbox">
            <span class="checkmark"></span>
            <span class="label-text">Chat-Funktion aktivieren / deaktivieren</span>
        </label>
        <button type="submit" name="change_chat_settings">Speichern</button>
    </form>

    <script nonce="{{ request.csp_script_nonce }}">
        let chat_settings = document.getElementById('chat_settings');
        const checkbox = document.getElementById('chat_checkbox');

        if (chat_settings.value == 'True') {
            checkbox.checked = true;
        } else {
            checkbox.checked = false;
        }
    </script>

    <hr>

    <h3>Community löschen</h3>
    <form method="post" class="form-confirm" data-confirm="Willst du diese Community wirklich löschen?">
        {% csrf_token %}
        <label for="admin_password_delete">Admin-Passwort:</label>
        <input type="password" name="admin_password_delete" id="admin_password_delete" placeholder="Admin-Passwort" required>
        <button type="submit" name="delete_community" class="color-red">Diese Community löschen</button>
    </form>

{% endblock %}