{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block meta %}
    <meta name="description"
          content="{% trans 'Tritt einer Community bei ClimateQuest bei, um dich mit anderen Families zu vergleichen und auszutauschen.' %}">
{% endblock %}
{% block title %}{% trans "Community beitreten" %}{% endblock %}
{% block content %}
    <h1>{% trans "Community beitreten" %}</h1>
    {% if messages %}
        {% for message in messages %}
            <p class="{{ message.level_tag }}-message">{{ message }}</p>
        {% endfor %}
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <label for="communityname">{% trans "Communityname:" %}</label>
        <input type="text" name="communityname" id="communityname" placeholder="{% trans 'Communityname' %}" required>
        <label for="community_password">{% trans "Passwort:" %}</label>
        <input type="password" name="community_password" id="community_password" placeholder="{% trans 'Passwort' %}"
               required>
        <label for="familyname">{% trans "Familyname:" %}</label>
        <input type="text" id="familyname" name="familyname" placeholder="{% trans 'Familyname' %}" required>
        <label for="family_admin_password">{% trans "Family Admin Passwort:" %}</label>
        <input type="password" id="family_admin_password" name="family_admin_password"
               placeholder="{% trans 'Family Admin Passwort' %}" required>
        <button type="submit">{% trans "Community beitreten" %}</button>
    </form>

    {% url 'create_community' as create_community_link %}
    <p>{% blocktrans with create_community_link=create_community_link %}Oder
        <a href="{{ create_community_link }}">eine Community gründen</a>.{% endblocktrans %}</p>
{% endblock %}