{% extends 'base.html' %}
{% load static %}
{% block meta %}
    <meta name="description" content="Tritt einer Community bei ClimateQuest bei, um dich mit anderen Families zu vergleichen und auszutauschen.">
{% endblock %}
{% block title %}Community beitreten{% endblock %}
{% block content %}
<h1>Community beitreten</h1>
{% if messages %}
{% for message in messages %}
<p class="{{message.level_tag}}-message">{{ message }}</p>
{% endfor %}
{% endif %}
<form method="post" >
    {% csrf_token %}
    <label for="communityname">Communityname:</label>
    <input type="text" name="communityname" id="communityname" placeholder="Communityname" required>
    <label for="community_password">Passwort:</label>
    <input type="password" name="community_password" id="community_password" placeholder="Passwort" required>
    <label for="familyname">Familyname:</label>
    <input type="text" id="familyname" name="familyname" placeholder="Familyname" required>
    <label for="family_admin_password">Family Admin Passwort:</label>
    <input type="password" id="family_admin_password" name="family_admin_password" placeholder="Family Admin Passwort" required>
    <button type="submit">Community beitreten</button>
</form>

<p>Oder <a  href="{% url 'create_community' %}">eine Community gründen</a>.</p>

{% endblock %}