{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load socialaccount %}

{% block meta %}
    <meta name="description"
          content="{% trans 'Logge dich in dein ClimateQuest Konto ein, um auf personalisierte Funktionen zuzugreifen und deine Fortschritte im Kampf gegen den Klimawandel zu verfolgen.' %}">
    <link rel="canonical" href="{% url 'login_view' %}"/>
{% endblock %}

{% block title %}{% trans "Login" %}{% endblock %}

{% block content %}
    <style nonce="{{ request.csp_style_nonce }}">
        .sign-in-with-google {
            margin: 20px;
            max-width: 200px;
        }
    </style>
    <h1>{% trans "Login" %}</h1>
    {% if messages %}
        {% for message in messages %}
            <p class="{{ message.level_tag }}-message">{{ message }}</p>
        {% endfor %}
    {% endif %}
    <a href="{% provider_login_url 'google' %}">
        <img class="sign-in-with-google"
             src="{% static 'icons/sign-in-with-google.png' %}"
             alt="Sign in with Google">
    </a>
    {% comment %}
    <a href="{% provider_login_url 'apple' %}">
        <img class="sign-in-with-google"
             src="{% static 'icons/sign-in-with-apple.png' %}"
             alt="Sign in with Apple">
    </a>
    {% endcomment %}
    <form method="post">
        {% csrf_token %}
        <label for="username">{% trans "Benutzername:" %}</label>
        <input type="text" name="username" id="username" placeholder="{% trans 'Benutzername' %}" required>
        <label for="password">{% trans "Passwort:" %}</label>
        <input type="password" name="password" id="password" placeholder="{% trans 'Passwort' %}" required>
        <button type="submit">{% trans "Login" %}</button>
    </form>
    <p>{% trans "Du hast noch kein Konto?" %} <a href="{% url 'register_view' %}">{% trans "Jetzt registrieren" %}</a>
    </p>
    <p>{% trans "Benutzername / Passwort vergessen?" %} <a
            href="{% url 'reset_password' %}">{% trans "Passwort resetten" %}</a></p>
{% endblock %}