{% extends "base.html" %}

{% load i18n %}

{% block meta %}
    <meta name="robots" content="noindex, nofollow">
{% endblock %}

{% block title %}{% trans "Mein Profil" %}{% endblock %}

{% block content %}

    <h1>{% trans "Mein Profil" %}</h1>
    {% if messages %}
        {% for message in messages %}
            <p class="{{ message.level_tag }}-message">{{ message }}</p>
        {% endfor %}
        <script nonce="{{ request.csp_script_nonce }}">
            setTimeout(() => {
                if (window.location.hash) {
                    history.replaceState(null, null, window.location.pathname + window.location.search);
                }
                window.scrollTo({top: 0});
            }, 100);
        </script>
    {% endif %}
    <p>{% blocktrans with username=user.username %}Willkommen, {{ username }}{% endblocktrans %}</p>
    <hr>
    <h3>{% trans "Aktuelle Daten:" %}</h3>
    <ul>
        <li>{% trans "Benutzername:" %} {{ user.username }}</li>
        <li>{% trans "E-Mail-Adresse:" %} {{ user.email }}</li>
        <li>{% trans "E-Mail-Adresse verifiziert:" %} {{ user.usererweitert.mail_verified|yesno:_("Ja,Nein") }}
            {% if user.usererweitert.mail_verified == False and user.email != '' %} |
                {% url 'resend_verification_email' as resend_url %}
                {% blocktrans with url=resend_url %}<a href="{{ url }}">Bestätigungs-E-Mail erneut senden</a>
                {% endblocktrans %}{% endif %}
        </li>
        <li>{% trans "Account erstellt am:" %} {{ user.date_joined }}</li>
        <li>{% trans "Letzter Login:" %} {{ user.last_login }}</li>
        <li>
            {% url 'user_detail' request.user.id as user_detail_url %}
            {% blocktrans with url=user_detail_url %}
                <a href="{{ url }}">Zur öffentlichen Accountseite</a>{% endblocktrans %}
        </li>
    </ul>
    <hr>
    <h3 id="username_h3">{% trans "Benutzernamen ändern" %}</h3>
    <form method="post">
        {% csrf_token %}
        <label for="new_username">{% trans "Neuer Benutzername:" %}</label>
        <small id="username-feedback"></small>
        <input type="text" name="new_username" id="new_username" placeholder="{% trans 'Neuer Benutzername' %}"
               required>
        <small>{% trans "Alle Mitglieder deiner Families und Communities werden darüber benachrichtigt werden." %}</small>
        <button type="submit" name="change_username">{% trans "Speichern" %}</button>
    </form>

    <script nonce="{{ request.csp_script_nonce }}">
        document.getElementById('new_username').addEventListener('input', function () {
            const username = this.value;
            const feedback = document.getElementById('username-feedback');

            if (username.length > 0) {
                feedback.textContent = '{% trans "Überprüfe, ob Benutzername bereits existiert..." %}';
                feedback.style.color = 'grey';
                fetch(`/personals/check-username/?username=${encodeURIComponent(username)}`)
                    .then(response => response.json())
                    .then(data => {
                        if (data.exists) {
                            feedback.textContent = '{% trans "Benutzername bereits vorhanden" %}';
                            feedback.style.color = 'red';
                        } else {
                            feedback.textContent = '{% trans "Name noch nicht vorhanden" %}';
                            feedback.style.color = 'green';
                        }
                    });
            } else {
                feedback.textContent = '';
            }
        });
    </script>
    {% if not is_social_account %}
        <hr>
        <h3 id="password_h3">{% trans "Passwort ändern" %}</h3>
        <form method="post" id="register_form" class="dont-show-loading">
            {% csrf_token %}
            <label for="new_password">{% trans "Neues Passwort:" %}</label>
            <a id="showPassword" class="show-password dont-show-loading">{% trans "Passwort anzeigen" %}</a>
            <input type="password" name="new_password" id="new_password" placeholder="{% trans 'Neues Passwort' %}"
                   required>
            <div>
                <h4>{% trans "Unsere Empfehlungen für ein sicheres Passwort, um deinen Account vor Hackingangriffen und Accountübernahmen zu schützen:" %}</h4>
                <ul class="criteria-list">
                    <li id="length" class="error-message">{% trans "Mindestens acht Zeichen" %}</li>
                    <li id="uppercase" class="error-message">{% trans "Mindestens ein Großbuchstabe" %}</li>
                    <li id="lowercase" class="error-message">{% trans "Mindestens ein Kleinbuchstabe" %}</li>
                    <li id="number" class="error-message">{% trans "Mindestens eine Zahl" %}</li>
                    <li id="punctuation" class="error-message">{% trans "Mindestens ein Sonderzeichen" %}</li>
                </ul>
            </div>
            <button type="submit" name="change_password">{% trans "Ändern" %}</button>
        </form>
        <script nonce="{{ request.csp_script_nonce }}">
            let passwordRecommendation = false;
        </script>
        <script nonce="{{ request.csp_script_nonce }}">
            const passwordInput = document.getElementById('new_password')
            const password_lenght = document.getElementById('length')
            const uppercase = document.getElementById('uppercase')
            const lowercase = document.getElementById('lowercase')
            const number = document.getElementById('number')
            const punctuation = document.getElementById('punctuation')

            passwordInput.addEventListener('input', function () {
                let password = this.value;

                password_lenght.className = password.length >= 8 ? "success-message" : "error-message"
                uppercase.className = /[A-Z]/.test(password) ? "success-message" : "error-message"
                lowercase.className = /[a-z]/.test(password) ? "success-message" : "error-message"
                number.className = /\d/.test(password) ? "success-message" : "error-message"
                punctuation.className = /[!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~]/.test(password) ? "success-message" : "error-message";

                if (password_lenght.className === "success-message" && uppercase.className === "success-message" && lowercase.className === "success-message" && number.className === "success-message" && punctuation.className === "success-message") {
                    passwordRecommendation = true
                }
            });

        </script>
        <script nonce="{{ request.csp_script_nonce }}">
            function register(event) {
                event.preventDefault(); // verhindert sofortiges Abschicken
                if (!passwordRecommendation) {
                    if (!confirm('{% trans "Das Passwort entspricht nicht den Empfehlungen. Trotzdem fortfahren?" %}')) {
                        return false;
                    }
                }

                const form = event.target;
                const btn = form.querySelector('button[name=change_password]');
                if (btn) {
                    const hidden = document.createElement('input');
                    hidden.type = 'hidden';
                    hidden.name = btn.name;
                    hidden.value = btn.value || btn.textContent;
                    form.appendChild(hidden);
                }
                showLoading();
                form.submit()
            }

            document.getElementById('register_form').addEventListener('submit', () => {
                register(event);
            });
        </script>
        <script nonce="{{ request.csp_script_nonce }}">
            const showPassword = document.getElementById('showPassword');
            let password = document.getElementById('new_password');
            showPassword.addEventListener('mousedown', function () {
                password.type = 'text';
            });
            showPassword.addEventListener('mouseup', function () {
                password.type = 'password';
            });

            showPassword.addEventListener('touchstart', function () {
                password.type = 'text';
            });
            showPassword.addEventListener('touchend', function () {
                password.type = 'password';
            });
        </script>
    {% endif %}

    <hr>

    <h3 id="email_h3">{% trans "E-Mail-Adresse ändern" %}</h3>
    <form method="post">
        {% csrf_token %}
        <label for="email">{% trans "Neue E-Mail-Adresse:" %}</label>
        <small>{% trans "Leer lassen, um die E-Mail Adresse zu löschen und keine mehr hinterlegt zu haben" %}</small>
        <small id="email-feedback"></small>
        <input type="email" name="email" id="email" placeholder="{% trans 'neue E-Mail-Adresse' %}">
        <small>{% trans "Dein Account wird so lange inaktiv sein, bis die neue E-Mail-Adresse verifiziert wurde." %}</small>
        <button type="submit" name="change_email">{% trans "Ändern" %}</button>
    </form>
    <script nonce="{{ request.csp_script_nonce }}">
        document.getElementById('email').addEventListener('input', function () {
            const email = this.value;
            const email_feedback = document.getElementById('email-feedback');

            if (email.length > 0) {
                fetch(`/personals/check-email/?email=${encodeURIComponent(email)}`)
                    .then(response => response.json())
                    .then(data => {
                        if (data.exists) {
                            email_feedback.textContent = '{% trans "E-Mail-Adresse bereits vorhanden" %}';
                            email_feedback.style.color = 'red';
                        } else {
                            email_feedback.textContent = '{% trans "E-Mail-Adresse noch nicht vorhanden" %}';
                            email_feedback.style.color = 'green';
                        }
                    });
            } else {
                email_feedback.textContent = '';
            }
        });
    </script>
    <hr>

    <h3 id="mailsettings_h3">{% trans "E-Mail Einstellungen" %}</h3>
    <form method="post">
        {% csrf_token %}
        <label class="custom-checkbox">
            <input type="checkbox" name="mailinglist" id="mailinglist_checkbox">
            <span class="checkmark"></span>
            <span class="label-text">{% trans "Benachrichtigungen per E-Mail erhalten" %}</span>
        </label>
        <button type="submit" name="change_email_settings">{% trans "Speichern" %}</button>
    </form>

    <script nonce="{{ request.csp_script_nonce }}">
        const mailinglist_checkbox = document.getElementById('mailinglist_checkbox');
        fetch(`/personals/get_email_settings`)
            .then(response => response.json())
            .then(data => {
                if (data.mailinglist) {
                    mailinglist_checkbox.checked = true;
                } else {
                    mailinglist_checkbox.checked = false;
                }
            })
    </script>
    <hr>

    <h3 id="block_data_h3">{% trans "Einsicht persönlicher Daten" %}</h3>
    <form method="post">
        {% csrf_token %}
        <label class="custom-checkbox">
            <input type="checkbox" name="block_data_settings" id="block_data_checkbox">
            <span class="checkmark"></span>
            <span class="label-text">{% trans "Einsicht der persönlichen Daten (Level, Klimapunkte, Aktionen, wöchentliches Ziel, Streak) für andere User erlauben" %}</span>
        </label>
        <button type="submit" name="change_block_data_settings">{% trans "Speichern" %}</button>
    </form>

    <script nonce="{{ request.csp_script_nonce }}">
        const block_data_checkbox = document.getElementById('block_data_checkbox');
        fetch(`/personals/get_block_data_settings`)
            .then(response => response.json())
            .then(data => {
                block_data_checkbox.checked = !!data.block_data_settings;
            })
    </script>

    <hr>
    <h3 id="statement_h3">{% trans "Statement ändern" %}</h3>
    <form method="post" class="fill-editor">
        {% csrf_token %}
        <label for="content_editor">{% trans "Statement" %}</label>
        <div id="content_editor" class="quill-editor">{{ user.usererweitert.statement|safe }}</div>
        <input type="hidden" name="content">
        <button type="submit" name="change_statement">{% trans "Speichern" %}</button>
    </form>

    <script nonce="{{ request.csp_script_nonce }}">
        document.addEventListener('DOMContentLoaded', initializeQuill);
    </script>

    <hr>

    <h3 id="change_goal_h3">{% trans "Wöchentliches Ziel ändern" %}</h3>
    <form method="post">
        {% csrf_token %}
        <label for="weekly_goal">{% trans "Wöchentliches Ziel" %}</label>
        <input id="weekly_goal" name="weekly_goal" type="number" value="{{ request.user.usererweitert.weekly_goal }}"
               min="1" required>
        <button type="submit" name="change_weekly_goal">{% trans "Speichern" %}</button>
    </form>

    <hr>
    <h3 id="change_lang_h3">{% trans "Sprache ändern" %}</h3>
    <form method="post">
        {% csrf_token %}
        <label for="lang">{% trans "Sprache" %}</label>
        <select id="lang" name="lang">
            <option value="de" {% if request.user.usererweitert.lang == "de" %}selected{% endif %}>Deutsch</option>
            <option value="en" {% if request.user.usererweitert.lang == "en" %}selected{% endif %}>English</option>
        </select>
        <button type="submit" name="change_lang">{% trans "Speichern" %}</button>
    </form>

    <hr>
    <h3 id="tour_banner_h3">{% trans "Tour-Banner anzeigen / ausblenden" %}</h3>
    <form method="post">
        {% csrf_token %}
        <label class="custom-checkbox">
            <input type="checkbox" name="show_tour_banner" id="tour_banner_checkbox"
                   {% if request.user.usererweitert.show_tour_banner %}checked{% endif %}>
            <span class="checkmark"></span>
            <span class="label-text">{% trans "Tour-Banner anzeigen" %}</span>
        </label>
        <button type="submit" name="change_tour_banner">{% trans "Speichern" %}</button>
    </form>

    <hr>
    <h3 id="delete_h3">{% trans "Account löschen" %}</h3>
    <form method="post" class="form-confirm" data-confirm="{% trans 'Willst du deinen Account wirklich löschen?' %}">
        {% csrf_token %}
        <button type="submit" name="delete_account" class="color-red">{% trans "Diesen Account löschen" %}</button>
        <p>{% trans "Dadurch werden alle mit deinem Konto verknüpften Daten wie Aktionen oder Chat-Nachrichten gelöscht. Alle Mitglieder deiner Families und Communities werden darüber benachrichtigt werden." %}</p>
    </form>

    <hr>
    <h3 id="deletesingledata_h3">{% trans "Löschen einzelner Daten" %}</h3>
    {% url 'resend_verification_email' as contact_url %}
    <p>{% blocktrans with email="kontakt@climate-quest.de" %}Wenn du nur einige mit deinem Konto verknüpften Daten
        löschen möchtest, wende dich bitte an <a href="mailto:{{ email }}">{{ email }}</a>. Nenne hier bitte die
        konkreten Daten, welche du löschen möchtest. Wenn sich die Daten über die Webseite bereits löschen lassen,
        werden diese auch tatsächlich gelöscht und als Backup maximal 14 Tage gespeichert.{% endblocktrans %}</p>

    {% if not is_social_account %}
        <hr>
        {% url 'reset_password' as reset_url %}
        {% blocktrans with url=reset_url %}<a href="{{ url }}">
            <button class="btn">Passwort resetten</button>
        </a>{% endblocktrans %}
    {% endif %}
{% endblock %}