{% extends "base.html" %}

{% load i18n %}
{% load socialaccount %}
{% load static %}

{% block meta %}
    <meta name="description"
          content="{% trans 'Registriere dich für ein ClimateQuest Konto, um personalisierte Funktionen zu nutzen und deinen Beitrag im Kampf gegen den Klimawandel zu verfolgen.' %}">
{% endblock %}

{% block title %}{% trans "Registrieren" %}{% endblock %}

{% block content %}
    <style nonce="{{ request.csp_style_nonce }}">
        .grecaptcha-badge {
            visibility: hidden;
        }

        .sign-in-with-google {
            margin: 20px;
            max-width: 200px;
        }
    </style>
    <h1>{% trans "Registrierung" %}</h1>
    {% if messages %}
        {% for message in messages %}
            <p class="{{ message.level_tag }}-message">{{ message|safe }}</p>
        {% endfor %}
    {% endif %}
    <a href="{% provider_login_url 'google' %}">
        <img class="sign-in-with-google"
             src="{% static 'icons/sign-in-with-google.png' %}"
             alt="Sign in with Google">
    </a>
    {% comment %}
    <a href="{% provider_login_url 'apple' %}">
        <img class="sign-in-with-google"
             src="{% static 'icons/sign-in-with-apple.png' %}"
             alt="Sign in with Apple">
    </a>
    {% endcomment %}
    <form method="post" id="register_form" class="dont-show-loading">
        {% csrf_token %}
        <div class="cookie-blocked" data-requires="recaptcha"
             data-content='<script src="https://www.google.com/recaptcha/api.js?render=6Ld_S6orAAAAANqPdHX27TNVkzL0WmlG_XQhTD2l"></script>'
             data-text="{% trans 'Zur Registrierung musst du die reCAPTCHA-Cookies erlauben' %}"
             data-important="true"></div>

        <label for="username">{% trans "Benutzername:" %}</label>
        <small id="username-feedback"></small>
        <input type="text" name="username" id="username" placeholder="{% trans 'Benutzername' %}" required>

        <label for="password">{% trans "Passwort:" %}</label>
        <a id="showPassword" class="show-password dont-show-loading">{% trans "Passwort anzeigen" %}</a>
        <input type="password" name="password" id="password" placeholder="{% trans 'Passwort' %}" required>

        <label for="email">{% trans "E-Mail-Adresse:" %}</label>
        <small id="email-feedback"></small>
        <input type="email" name="email" id="email" placeholder="{% trans 'E-Mail (Optional)' %}">
        <small>{% trans "Du kannst eine E-Mail-Adresse angeben, um Benachrichtigungen zu erhalten und, falls du deinen Benutzernamen oder dein Passwort vergessen hast, diese zurückzusetzen. Dies ist allerdings optional, du musst es also nicht machen." %}</small>

        <div>
            <h4>{% trans "Unsere Empfehlungen für ein sicheres Passwort, um deinen Account vor Hackingangriffen und Accountübernahmen zu schützen:" %}</h4>
            <ul class="criteria-list">
                <li id="length" class="error-message">{% trans "Mindestens acht Zeichen" %}</li>
                <li id="uppercase" class="error-message">{% trans "Mindestens ein Großbuchstabe" %}</li>
                <li id="lowercase" class="error-message">{% trans "Mindestens ein Kleinbuchstabe" %}</li>
                <li id="number" class="error-message">{% trans "Mindestens eine Zahl" %}</li>
                <li id="punctuation" class="error-message">{% trans "Mindestens ein Sonderzeichen" %}</li>
            </ul>
        </div>

        <label class="custom-checkbox">
            <input type="checkbox" name="nutzungsbedingungen_accepted">
            <span class="checkmark"></span>
            {% url 'nutzungsbedingungen' as nutzungsbedingungen_url %}
            <span class="label-text">{% blocktrans with url=nutzungsbedingungen_url %}Ich habe die
                <a href="{{ url }}">Nutzungsbedingungen</a> gelesen und akzeptiere diese. Sofern ich noch nicht
                volljährig bin, bestätige ich, dass die Zustimmung durch eine erziehungsberechtigte Person erfolgt
                ist.{% endblocktrans %}</span>
        </label>

        <label class="custom-checkbox">
            <input type="checkbox" name="datenschutz_accepted">
            <span class="checkmark"></span>
            {% url 'datenschutz' as datenschutz_url %}
            <span class="label-text">{% blocktrans with url=datenschutz_url %}Ich habe die
                <a href="{{ url }}">Datenschutzerklärung</a> gelesen und bin mit der beschriebenen Verarbeitung meiner
                personenbezogenen Daten einverstanden. Sofern ich noch nicht volljährig bin, bestätige ich, dass diese
                Einwilligung durch eine erziehungsberechtigte Person erfolgt ist.{% endblocktrans %}</span>
        </label>

        <input type="hidden" name="recaptchaToken" id="recaptchaToken">
        <button type="submit" id="register-button">{% trans "Registrieren" %}</button>
        <small>{% trans "Diese Seite wird geschützt von reCAPTCHA" %}</small>
    </form>

    {% url 'login_view' as login_url %}
    <p>{% blocktrans with url=login_url %}Bereits registriert? <a href="{{ url }}">Zum Login</a>{% endblocktrans %}</p>

    <script nonce="{{ request.csp_script_nonce }}">
        let passwordRecommendation = false;

        document.addEventListener("DOMContentLoaded", function () {
            if (!getCookiePreferences().recaptcha) {
                let register_button = document.getElementById('register-button');
                register_button.disabled = true;
                register_button.textContent = "{% trans 'Um sich zu registrieren, wird reCAPTCHA benötigt. Bitte akzeptiere diese, um sich zu registrieren.' %}";
            }
        });

        function register(event) {
            event.preventDefault();
            if (!passwordRecommendation) {
                if (!confirm('{% trans "Das Passwort entspricht nicht den Empfehlungen. Trotzdem fortfahren?" %}')) {
                    return false;
                }
            }

            grecaptcha.ready(function () {
                grecaptcha.execute('6Ld_S6orAAAAANqPdHX27TNVkzL0WmlG_XQhTD2l', {action: 'register'})
                    .then(function (token) {
                        if (!token) {
                            console.warn("reCAPTCHA hat kein Token zurückgegeben.");
                            return false;
                        }

                        const input = document.getElementById('recaptchaToken');
                        if (input) {
                            input.value = token;
                            showLoading();
                            event.target.submit();
                        } else {
                            console.error("recaptchaToken-Element nicht gefunden.");
                        }
                    })
                    .catch(function (error) {
                        console.error("Fehler bei reCAPTCHA:", error);
                    });
            });

            return false; // verhindert das ursprüngliche Submit
        }

        document.getElementById('register_form').addEventListener('submit', () => {
            register(event);
        });

        const passwordInput = document.getElementById('password')
        const password_lenght = document.getElementById('length')
        const uppercase = document.getElementById('uppercase')
        const lowercase = document.getElementById('lowercase')
        const number = document.getElementById('number')
        const punctuation = document.getElementById('punctuation')

        passwordInput.addEventListener('input', function () {
            let password = this.value;

            password_lenght.className = password.length >= 8 ? "success-message" : "error-message"
            uppercase.className = /[A-Z]/.test(password) ? "success-message" : "error-message"
            lowercase.className = /[a-z]/.test(password) ? "success-message" : "error-message"
            number.className = /\d/.test(password) ? "success-message" : "error-message"
            punctuation.className = /[!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~]/.test(password) ? "success-message" : "error-message";

            if (password_lenght.className == "success-message" && uppercase.className == "success-message" && lowercase.className == "success-message" && number.className == "success-message" && punctuation.className == "success-message") {
                passwordRecommendation = true
            }
        });

        document.getElementById('username').addEventListener('input', function () {
            const username = this.value;
            const username_feedback = document.getElementById('username-feedback');
            const registerButton = document.getElementById('register-button');

            if (username.length > 0) {
                username_feedback.textContent = '{% trans "Überprüfe, ob Benutzername bereits existiert..." %}';
                username_feedback.style.color = 'grey';
                fetch(`/personals/check-username/?username=${encodeURIComponent(username)}`)
                    .then(response => response.json())
                    .then(data => {
                        if (data.exists) {
                            username_feedback.textContent = '{% trans "Benutzername bereits vorhanden" %}';
                            username_feedback.style.color = 'red';
                        } else {
                            username_feedback.textContent = '{% trans "Name noch nicht vorhanden" %}';
                            username_feedback.style.color = 'green';
                        }
                    })
                    .catch(error => {
                        username_feedback.textContent = `{% trans "Fehler beim Überprüfen des Benutzernamens:" %} ${error}`;
                        username_feedback.style.color = 'red';
                    });
            } else {
                username_feedback.textContent = '';
            }
        });

        document.getElementById('email').addEventListener('input', function () {
            const email = this.value;
            const email_feedback = document.getElementById('email-feedback');

            if (email.length > 0) {
                email_feedback.textContent = '{% trans "Überprüfe, ob E-Mail-Adresse bereits existiert..." %}';
                email_feedback.style.color = 'grey';
                fetch(`/personals/check-email/?email=${encodeURIComponent(email)}`)
                    .then(response => response.json())
                    .then(data => {
                        if (data.exists) {
                            email_feedback.textContent = '{% trans "E-Mail-Adresse bereits vorhanden" %}';
                            email_feedback.style.color = 'red';
                        } else {
                            email_feedback.textContent = '{% trans "E-Mail-Adresse noch nicht vorhanden" %}';
                            email_feedback.style.color = 'green';
                        }
                    });
            } else {
                email_feedback.textContent = '';
            }
        });

        const showPassword = document.getElementById('showPassword');
        let password = document.getElementById('password');
        showPassword.addEventListener('mousedown', function () {
            password.type = 'text';
        });
        showPassword.addEventListener('mouseup', function () {
            password.type = 'password';
        });

        showPassword.addEventListener('touchstart', function () {
            password.type = 'text';
        });
        showPassword.addEventListener('touchend', function () {
            password.type = 'password';
        });
    </script>
{% endblock %}