{% extends 'base.html' %}

{% block meta %}
    <meta name="description" content="Setze dein Passwort oder Benutzernamen bei ClimateQuest zurück.">
{% endblock %}

{% block title %}ClimateQuest - Passwort / Benutzername zurücksetzen{% endblock %}

{% block content %}
<h1>Passwort / Benutzername zurücksetzen</h1>
{% if messages %}
{% for message in messages %}
<p class="{{message.level_tag}}-message">{{ message }}</p>
{% endfor %}
{% endif %}
<p>Diese Funktion ist nur verfügbar, wenn du eine E-Mail-Adresse angegeben hast.</p>
<form method="post" >
    {% csrf_token %}
    <label for="email">E-Mail-Adresse:</label>
    <input type="email" name="email" id="email" placeholder="E-Mail-Adresse" required>
    <button type="submit">Senden</button>
</form>
<p>Wir werden dir eine E-Mail mit deinen neuen Anmeldedaten schicken.</p>
{% endblock %}