{% extends "base.html" %}

{% block meta %}
    <meta name="description" content="Verifiziere deine E-Mail-Adresse bei ClimateQuest, um dein Konto zu aktivieren und personalisierte Funktionen zu nutzen.">
{% endblock %}

{% block title %}ClimateQuest - E-Mail verifizieren{% endblock %}

{% block content %}

<h1>E-Mail verifizieren</h1>
{% if messages %}
{% for message in messages %}
<p class="{{message.level_tag}}-message">{{ message }}</p>
{% endfor %}
{% endif %}
<h3>E-Mail-Adresse verifizieren</h3>
<form method="post">
    {% csrf_token %}
    <label for="username">Benutzername:</label>
    <input type="text" name="username" id="username" placeholder="Username" required>
    <label for="password">Passwort:</label>
    <input type="password" name="password" id="password" placeholder="Passwort" required>
    <label for="verificationCode">Verifizierungscode:</label>
    <input type="password" name="verificationCode" id="verificationCode" placeholder="Verifizierungscode" required>
    <button type="submit" name="verify">Bestätigen</button>
</form>
<h3>Verifizierungscode erneut senden</h3>
<form method="post">
    {% csrf_token %}
    <label for="username">Benutzername:</label>
    <input type="text" name="username" id="username" placeholder="Username" required>
    <label for="password">Passwort:</label>
    <input type="password" name="password" id="password" placeholder="Passwort" required>
    <button type="submit" name="resend">Senden</button>
</form>
<h3>neue E-Mail-Adresse angeben</h3>
<form method="post">
    {% csrf_token %}
    <label for="username">Benutzername:</label>
    <input type="text" name="username" id="username" placeholder="Username" required>
    <label for="password">Passwort:</label>
    <input type="password" name="password" id="password" placeholder="Passwort" required>
    <label for="email">Neue E-Mail-Adresse:</label>
    <small>Leer lassen, um die E-Mail Adresse zu löschen und keine mehr hinterlegt zu haben</small>
    <small id="email-feedback"></small>
    <input type="text" id="email" name="email" placeholder="neue E-Mail-Adresse">
    <button type="submit" name="new_email_adress">Speichern</button>
</form>
<script>
    document.getElementById('email').addEventListener('input', function () {
        const email = this.value;
        const email_feedback = document.getElementById('email-feedback');

        if (email.length > 0) {
            fetch(`/personals/check-email/?email=${encodeURIComponent(email)}`)
                .then(response => response.json())
                .then(data => {
                    if (data.exists) {
                        email_feedback.textContent = 'E-Mail-Adresse bereits vorhanden';
                        email_feedback.style.color = 'red';
                    } else {
                        email_feedback.textContent = 'E-Mail-Adresse noch nicht vorhanden';
                        email_feedback.style.color = 'green';
                    }
                });
        } else {
            email_feedback.textContent = '';
        }
    });
</script>
{% endblock %}