{% extends 'base.html' %}
{% load i18n %}
{% load socialaccount %}

{% block meta %}
    <meta name="description" content="{% trans 'Registriere dich über deinen Apple Account.' %}">
{% endblock %}

{% block title %}{% trans 'Registrieren über Apple' %} - ClimateQuest{% endblock %}

{% block content %}
    <h1>Fast fertig!</h1>
    {% if messages %}
        {% for message in messages %}
            <p class="{{ message.level_tag }}-message">{{ message|safe }}</p>
        {% endfor %}
    {% endif %}
    <form method="post" action="{% url 'socialaccount_signup' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Registrierung abschließen</button>
    </form>
{% endblock %}