{% extends "base.html" %}
{% load i18n %}

{% block meta %}
    <meta name="description"
          content="{% trans "Erstelle einen neuen Post im Forum von ClimateQuest, um deine Fragen zur Klimakrise oder zur Organisation und Durchführung von Aktionen zum Klima-Themen von anderen Usern beantworten zu lassen." %}">
{% endblock %}

{% block title %}{% trans "Forum-Beitrag hinzufügen" %}{% endblock %}

{% block content %}

    <h1>{% trans "Beitrag hinzufügen" %}</h1>

    {% if messages %}
        {% for message in messages %}
            <p class="{{ message.level_tag }}-message">{{ message|safe }}</p>
        {% endfor %}
    {% endif %}

    <form method="post" class="fill-editor">
        {% csrf_token %}
        <label for="title">{% trans "Titel" %}</label>
        <input type="text" name="title" id="title" placeholder="{% trans "Titel" %}" maxlength="100" required>

        <label for="content_editor">{% trans "Inhalt" %}</label>
        <div class="quill-editor content_editor"></div>
        <input type="hidden" name="content">

        <label for="category">{% trans "Kategorie" %}</label>
        <select id="category" name="category">
            {% for category in categories %}
                <option value="{{ category }}">{{ category }}</option>
            {% endfor %}
        </select>

        <label class="custom-checkbox">
            <input type="checkbox" name="is_truth">
            <span class="checkmark"></span>
            <span class="label-text">{% url 'nutzungsbedingungen' as terms_url %}{% blocktrans with url=terms_url %}Ich bestätige, dass dies eine ernst gemeinte Frage ist und dass sie mit den <a href="{{ url }}">Nutzungsbedingungen</a> übereinstimmt.{% endblocktrans %}</span>
        </label>

        <button type="submit">{% trans "Speichern" %}</button>
    </form>

    <script nonce="{{ request.csp_script_nonce }}">
        document.addEventListener('DOMContentLoaded', initializeQuill);
    </script>
{% endblock %}