{% extends "base.html" %}


{% block meta %}
    <meta name="description"
          content="Erstelle einen neuen Post im Forum von ClimateQuest, um deine Fragen zur Klimakrise oder zur Organisation und Durchführung von Aktionen zum Klima-Themen von anderen Usern beantworten zu lassen.">
{% endblock %}

{% block title %}Forum-Beitrag hinzufügen{% endblock %}

{% block content %}

    <h1>Beitrag hinzufügen</h1>

    {% if messages %}
        {% for message in messages %}
            <p class="{{ message.level_tag }}-message">{{ message|safe }}</p>
        {% endfor %}
    {% endif %}

    <form method="post" class="fill-editor">
        {% csrf_token %}
        <label for="title">Titel</label>
        <input type="text" name="title" id="title" placeholder="Titel" maxlength="100" required>

        <label for="content_editor">Inhalt</label>
        <div id="content_editor" class="quill-editor"></div>
        <input type="hidden" name="content">

        <label for="category">Kategorie</label>
        <select id="category" name="category">
            {% for category in categories %}
                <option value="{{ category }}">{{ category }}</option>
            {% endfor %}
        </select>

        <label class="custom-checkbox">
            <input type="checkbox" name="is_truth">
            <span class="checkmark"></span>
            <span class="label-text">Ich bestätige, dass dies eine ernst gemeinte Frage ist und dass sie mit den <a
                    href="{% url 'nutzungsbedingungen' %}">Nutzungsbedingungen</a> übereinstimmt.</span>
        </label>

        <button type="submit">Speichern</button>
    </form>

    <script nonce="{{ request.csp_script_nonce }}">
        document.addEventListener('DOMContentLoaded', initializeQuill);
    </script>
{% endblock %}