{% extends "base.html" %}


{% block meta %}
    <meta name="description" content="Erstelle einen neuen Post im Forum von ClimateQuest, um deine Fragen zur Klimakrise oder zur Organisation und Durchführung von Aktionen zum Klima-Themen von anderen Usern beantworten zu lassen.">
{% endblock %}

{% block title %}ClimateQuest - Forum-Beitrag hinzufügen{% endblock %}

{% block content %}

    <h1>Beitrag hinzufügen</h1>

    {% if messages %}
        {% for message in messages %}
            <p class="{{ message.level_tag }}-message">{{ message }}</p>
        {% endfor %}
    {% endif %}

    <form method="post" onsubmit="fillEditor(event)">
        {% csrf_token %}
        <label for="title">Titel</label>
        <input type="text" name="title" id="title" placeholder="Titel" maxlength="100" required>

        <label for="content_editor">Inhalt</label>
        <div id="content_editor" class="quill-editor"></div>
        <input type="hidden" name="content">

        <label class="custom-checkbox">
            <input type="checkbox" name="is_truth">
            <span class="checkmark"></span>
            <span class="label-text">Ich bestätige, dass dies eine ernst gemeinte Frage ist und dass sie mit den <a href="{% url 'nutzungsbedingungen' %}">Nutzungsbedingungen</a> übereinstimmt.</span>
        </label>

        <button type="submit">Speichern</button>
    </form>

    <!-- Quill CSS -->
    <div class="cookie-blocked" data-requires="quill"
         data-content='<link href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.snow.css" rel="stylesheet" />'>
    </div>

    <script>
        let quill;
        document.addEventListener('DOMContentLoaded', function () {
            let editor = document.getElementById('content_editor')
            if (getCookiePreferences().quill) {
                const script = document.createElement("script");
                script.src = "https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.js";
                document.body.appendChild(script);
                script.onload = function () {
                    if (editor) {
                        quill = new Quill(editor, {
                            theme: 'snow',
                            modules: {
                                toolbar: [
                                    [{header: [1, 2, false]}],
                                    ['bold', 'italic', 'underline'],
                                    [{'list': 'ordered'}, {'list': 'bullet'}],
                                    ['link']
                                ]
                            }
                        });
                    } else {
                        console.warn("Editor not found");
                    }
                }
            } else {
                editor.innerHTML = `<textarea placeholder="Beschreibung" class="quill-editor"  id="textarea-content" style="width: 100%;"></textarea>`;
            }
        });

        function fillEditor(event) {
            const form = event.target;
            event.preventDefault();
            if (getCookiePreferences().quill) {
                try {
                    form.querySelector('input[name=content]').value = quill.root.innerHTML;
                    form.submit();
                } catch {
                    console.error("Variable Quill not found");
                    alert("Ein interner Fehler ist aufgetreten. Probiere es später bitte erneut!");
                    return false;
                }
            } else {
                form.querySelector('input[name=content]').value = document.getElementById('textarea-content');
            }
        }
    </script>
{% endblock %}