{% extends "base.html" %}
{% load i18n %}
{% load request_user_has_answered_post %}

{% block meta %}
    <meta name="description"
          content="{% trans "Sieh dir die Übersicht aller Posts im Forum von ClimateQuest an. Finde Antworten zu deinen Fragen zur Klimakrise oder zur Organisation und Durchführung von Aktionen zum Klima-Themen." %}">
{% endblock %}

{% block title %}{% trans "Forum-Übersicht" %}{% endblock %}

{% block content %}
    <h1>{% trans "Forum-Übersicht" %}</h1>
    {% if messages %}
        {% for message in messages %}
            <p class="{{ message.level_tag }}-message">{{ message|safe }}</p>
        {% endfor %}
    {% endif %}
    {% if request.LANGUAGE_CODE == "en" %}
        <p>The forum is currently only available in German. Thanks for your understanding!</p>{% endif %}
    <a href="{% url 'add_forum_post' %}" class="redirect-link">
        <span>{% trans "Beitrag hinzufügen" %}</span>
        <span class="redirect-link-icon">→</span>
    </a>
    <form method="post">
        {% csrf_token %}
        <div id="search_keyword_div">
            <label for="search_keyword">{% trans "Suchwort:" %}</label>
            <small>{% trans "Leer lassen, um alle Artikel anzuzeigen" %}</small>
            <input type="search" name="search_keyword" id="search_keyword" placeholder="{% trans "Suchwort" %}">
        </div>

        <label for="order_by">{% trans "Sortieren nach:" %}</label>
        <select name="order_by" id="order_by" required>
            <option value="Titel" selected>{% trans "Titel" %}</option>
            <option value="Ersteller">{% trans "Ersteller" %}</option>
            <option value="Erstellt am">{% trans "Erstellt am" %}</option>
            {% if user.is_authenticated %}
                <option value="von mir erstellte Posts">{% trans "von mir erstellte Posts" %}</option>
                <option value="von mir beantwortete Posts">{% trans "von mir beantwortete Posts" %}</option>
            {% endif %}
        </select>

        <label for="category">{% trans "Kategorie:" %}</label>
        <select name="category" id="category" required>
            <option value="Alle" selected>{% trans "Alle" %}</option>
            {% for category in all_categories %}
                <option value="{{ category.title }}">{{ category.title }}</option>
            {% endfor %}
        </select>

        <button type="submit">{% trans "Anwenden" %}</button>
    </form>
    {% trans "von mir erstellte Posts" as my_posts %}
    {% trans "von mir beantwortete Posts" as my_answered_posts %}
    <script nonce="{{ request.csp_script_nonce }}">
        search_keyword = document.querySelector('input[name=search_keyword]');
        order_by = document.querySelector('select[name=order_by]');
        search_keyword_div = document.getElementById('search_keyword_div');

        order_by.addEventListener('change', function () {
            if (order_by.value === "{{ my_posts }}" || order_by.value === "{{ my_answered_posts }}") {
                search_keyword_div.style.display = "none";
            } else {
                search_keyword_div.style.display = "block";
            }
        });
    </script>
    <p>{% blocktrans with ordered=ordered_by %}Sortiert nach: {{ ordered }}{% endblocktrans %}</p>
    {% if search_keyword %}
        <p>{% blocktrans with keyword=search_keyword %}Suchwort: {{ keyword }}{% endblocktrans %}</p>
    {% endif %}
    <p>{% blocktrans with cat=category %}Kategorie: {{ cat }}{% endblocktrans %}</p>
    <p>{% blocktrans with count=forum_posts.count %}{{ count }} Suchergebnisse{% endblocktrans %}</p>

    {% if request.user.is_authenticated %}
        <details>
            <summary>{% trans "Farbcode" %}</summary>
            <p class="event-card">{% trans "Ein ganz normaler Forums-Beitrag" %}</p>
            <p class="event-card event-card-creator">{% trans "Du hast diesen Beitrag erstellt" %}</p>
            <p class="event-card event-card-participant">{% trans "Du hast diesen Beitrag beantwortet" %}</p>
        </details>
    {% endif %}
    <hr>

    {% if forum_posts %}
        {% for post in forum_posts %}
            <section
                    class="event-card{% if request.user == post.creator %} event-card-creator{% elif post|request_user_has_answered_post:request.user %} event-card-participant{% endif %}">
                <div class="event-main">
                    <h2 class="event-title">{{ post.title }}</h2>
                    <p>{% blocktrans with cat=post.category.title %}Kategorie: {{ cat }}{% endblocktrans %}</p>
                    {% if ordered_by == 'Erstellt am' %}
                        <p><strong>{% trans "Erstellt am:" %}</strong> <span class="event-date"
                                                                             data-date="{{ post.date_time|date:'c' }}">{{ post.date_time|date:"SHORT_DATETIME_FORMAT" }}</span>
                        </p>

                    {% elif ordered_by == 'Ersteller' %}
                        <p><strong>{% trans "Ersteller:" %}</strong>
                            {% url 'user_detail' post.creator.id as creator_url %}
                            {% blocktrans with url=creator_url username=post.creator.username %}
                                <a href="{{ url }}">{{ username }}</a>{% endblocktrans %}
                            {% if request.user == post.creator %}{% trans "(Du)" %}{% endif %}</p>
                    {% endif %}
                </div>

                <details class="event-details">
                    <summary>{% trans "mehr" %}</summary>
                    <div class="event-extra">
                        </p>
                        {% if ordered_by != 'Erstellt am' %}
                            <p><strong>{% trans "Erstellt am:" %}</strong> <span class="event-date"
                                                                                 data-date="{{ post.date_time|date:'c' }}">{{ post.date_time|date:"SHORT_DATETIME_FORMAT" }}</span>
                            </p>
                        {% endif %}
                        {% if ordered_by != 'Ersteller' %}
                            <p><strong>{% trans "Ersteller:" %}</strong>
                                {% url 'user_detail' post.creator.id as creator_url %}
                                {% blocktrans with url=creator_url username=post.creator.username %}
                                    <a href="{{ url }}">{{ username }}</a>{% endblocktrans %}
                                {% if request.user == post.creator %}{% trans "(Du)" %}{% endif %}</p>
                        {% endif %}
                    </div>
                </details>

                <a class="event-link" href="{% url 'post_detail' post.id %}">{% trans "Details ansehen" %}</a>
            </section>
        {% endfor %}
    {% else %}
        <p><i>{% trans "Es gibt derzeit keine Posts mit diesem Filter." %}</i></p>
    {% endif %}
{% endblock %}
