{% extends "base.html" %}

{% block meta %}
    <meta name="description" content="Sieh dir den Post im Forum von ClimateQuest an und lies die Antworten anderer User zu diesem Thema. Antworte selbst auf den Post, um dein Wissen zu teilen.">
{% endblock %}

{% block title %}ClimateQuest - Post {{ post.title }}{% endblock %}

{% block content %}
    <style nonce="{{ request.csp_style_nonce }}">
        .answer {
            background-color: var(--color-bg);
            border-left: 4px solid var(--color-primary);
            padding: 1rem;
            margin-bottom: 1.5rem;
            border-radius: 6px;
            box-shadow: var(--shadow-md);
            font-family: 'Segoe UI', sans-serif;
        }

        .answer p {
            margin: 0.5rem 0;
            line-height: 1.6;
            color: var(--color-text);
        }
    </style>

    <h1>Post <i>{{ post.title }}</i></h1>

    {% if messages %}
        {% for message in messages %}
            <p class="{{ message.level_tag }}-message">{{ message|safe }}</p>
        {% endfor %}
    {% endif %}

    <div class="artikel-content"><p>{{ post.content|safe }}</p></div>
    <br>
    <p>Erstellt von <a  href="{% url 'user_detail' post.creator.id %}">{{ post.creator }}</a></p>
    <p>Erstellt am: {{ post.date_time|date:"d.m.Y H:i" }}</p>

    {% for answer in answers %}
        <div class="answer">
            <p>{{ answer.content|safe }}</p>
            <p><small>Antwort von <a  href="{% url 'user_detail' answer.creator.id %}">{{ answer.creator }}</a>
                am {{ answer.date_time|date:"d.m.Y H:i" }}</small></p>
        </div>
    {% endfor %}


    <h3>Antworten</h3>
    <form method="post" class="fill-editor">
        {% csrf_token %}
        <div id="content_editor" class="quill-editor"></div>
        <input type="hidden" name="content">

        <label class="custom-checkbox">
            <input type="checkbox" name="is_truth">
            <span class="checkmark"></span>
            <span class="label-text">Ich bestätige, dass dies meines Wissens die Wahrheit und dass es mit den <a
                    href="{% url 'nutzungsbedingungen' %}">Nutzungsbedingungen</a> übereinstimmt.</span>
        </label>

        <button type="submit">Antworten</button>
    </form>

    <!-- Quill CSS -->
    <div class="cookie-blocked" data-requires="quill"
         data-content='<link href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.snow.css" rel="stylesheet" />'>
    </div>

    <script nonce="{{ request.csp_script_nonce }}">
        document.addEventListener('DOMContentLoaded', initializeQuill);
    </script>

{% endblock %}
