{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block meta %}
    <meta name="description" content="{% trans "Erstelle eine neue Family bei ClimateQuest, um dich mit anderen Nutzern zu vergleichen und auszutauschen." %}">
{% endblock %}

{% block title %}{% trans "Family erstellen" %}{% endblock %}

{% block content %}
<h1>{% trans "Family erstellen" %}</h1>
{% if messages %}
{% for message in messages %}
<p class="{{message.level_tag}}-message">{{ message }}</p>
{% endfor %}
{% endif %}
<form method="post" >
    {% csrf_token %}
    <label for="familyname">{% trans "Familyname:" %}</label>
    <small id="familyname-feedback"></small>
    <input type="text" id="familyname" name="familyname" placeholder="{% trans "Familyname" %}" maxlength="100" required>
    <label for="password">{% trans "Passwort:" %}</label>
    <input type="password" id="password" name="family_password" placeholder="{% trans "Passwort" %}" maxlength="100" required>
    <label for="family_admin_password">{% trans "Admin Passwort:" %}</label>
    <input type="password" id="family_admin_password" name="family_admin_password" placeholder="{% trans "Admin Passwort" %}" maxlength="100" required>
    <div>
        <h4>{% trans "Wir empfehlen folgende Admin-Passwort-Anforderungen, um die Family vor unerlaubter Bearbeitung zu schützen:" %}</h4>
        <ul class="criteria-list">
      <li id="length" class="error-message">{% trans "Mindestens acht Zeichen" %}</li>
      <li id="uppercase" class="error-message">{% trans "Mindestens ein Großbuchstabe" %}</li>
      <li id="lowercase" class="error-message">{% trans "Mindestens ein Kleinbuchstabe" %}</li>
      <li id="number" class="error-message">{% trans "Mindestens eine Zahl" %}</li>
      <li id="punctuation" class="error-message">{% trans "Mindestens ein Sonderzeichen" %}</li>
    </ul>
  </div>
    <button type="submit" id="create-button">{% trans "Family erstellen" %}</button>
</form>
<p>{% url 'join_family' as join_url %}{% blocktrans with url=join_url %}Oder <a href="{{ url }}">einer bestehenden Family beitreten</a>.{% endblocktrans %}</p>

{% trans "Überprüfe, ob Familyname bereits existiert..." as checking_msg %}
{% trans "Familyname bereits vorhanden" as exists_msg %}
{% trans "Familyname noch nicht vorhanden" as not_exists_msg %}

<script nonce="{{ request.csp_script_nonce }}">
    const passwordInput = document.getElementById('family_admin_password')
    const password_lenght = document.getElementById('length')
    const uppercase = document.getElementById('uppercase')
    const lowercase = document.getElementById('lowercase')
    const number = document.getElementById('number')
    const punctuation = document.getElementById('punctuation')

    passwordInput.addEventListener('input', function () {
        let password = this.value;

        password_lenght.className = password.length >= 8 ? "success-message" : "error-message"
        uppercase.className = /[A-Z]/.test(password) ? "success-message" : "error-message"
        lowercase.className = /[a-z]/.test(password) ? "success-message" : "error-message"
        number.className = /\d/.test(password) ? "success-message" : "error-message"
        punctuation.className = /[!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~]/.test(password) ? "success-message" : "error-message";
    });

    document.getElementById('familyname').addEventListener('input', function () {
        const familyname = this.value;
        const feedback = document.getElementById('familyname-feedback');
        const registerButton = document.getElementById('register-button');

        const errorMessage = document.getElementById('register-error');
        if (errorMessage) {
            errorMessage.style.display = 'none';
        }


        if (familyname.length > 0) {
            feedback.textContent = '{{ checking_msg }}';
            feedback.style.color = 'grey';
            fetch(`/family/check-familyname/?familyname=${encodeURIComponent(familyname)}`)
                .then(response => response.json())
                .then(data => {
                    if (data.exists) {
                        feedback.textContent = '{{ exists_msg }}';
                        feedback.style.color = 'red';
                    } else {
                        feedback.textContent = '{{ not_exists_msg }}';
                        feedback.style.color = 'green';
                    }
                });
        } else {
            feedback.textContent = '';
        }
    });
</script>

{% endblock %}