{% extends 'base.html' %}
{% load i18n %}

{% block meta %}
    <meta name="robots" content="noindex, nofollow">
{% endblock %}

{% block title %}{% if family %}{% blocktrans with name=family.name %}Family {{ name }}{% endblocktrans %}{% else %}
    {% trans "Die Family konnte nicht geladen werden." %}{% endif %} {% endblock %}

{% block content %}
    <h1>{% blocktrans with name=family.name %}Family <i>{{ name }}</i>{% endblocktrans %}</h1>

    {% if messages %}
        {% for message in messages %}
            <p class="{{ message.level_tag }}-message">{{ message|safe }}</p>
        {% endfor %}
    {% endif %}

    {% if family.name != 'worldwide ranking' %}
        <p>{% url 'edit_family' family.id as edit_url %}{% blocktrans with url=edit_url %}
            <a href="{{ url }}">Bearbeiten</a>{% endblocktrans %}</p>
        {% if family.chat %}
            <p>{% url 'chat_family' family.id as chat_url %}{% blocktrans with url=chat_url %}
                <a href="{{ url }}">Chatten</a>{% endblocktrans %}</p>
        {% else %}
            <p>{% trans "Die Chat-Funktion ist für diese Family deaktiviert." %}</p>
        {% endif %}
    {% else %}
        <p>{% trans "Weder die Chat-Funktion noch die Bearbeiten-Funktion sind für die Family worldwide ranking freigeschaltet" %}</p>
    {% endif %}


    <form method="post">
        {% csrf_token %}
        <label for="zeitraum">{% trans "Zeitraum" %}</label>
        <select name="zeitraum" id="zeitraum" required>
            <option value="Gesamt">{% trans "Gesamt" %}</option>
            <option value="Heute">{% trans "Heute" %}</option>
            <option value="Sieben Tage">{% trans "7 Tage" %}</option>
            <option value="Dreißig Tage">{% trans "30 Tage" %}</option>
            <option value="Dreihundertfünfundsechzig Tage">{% trans "365 Tage" %}</option>
            <option value="Benutzerdefiniert">{% trans "Benutzerdefiniert" %}</option>
        </select>

        <div id="hiddenDateDiv" class="display-none">
            <label for="start_date">{% trans "Startdatum:" %}</label>
            <input type="date" name="start_date" id="start_date" placeholder="{% trans "Startdatum" %}" value="">
            <label for="end_date">{% trans "Enddatum:" %}</label>
            <input type="date" name="end_date" id="end_date" placeholder="{% trans "Enddatum" %}" value="">
        </div>

        <button type="submit">{% trans "Anwenden" %}</button>
    </form>

    <script nonce="{{ request.csp_script_nonce }}">
        document.addEventListener('DOMContentLoaded', function () {
            const today = new Date().toISOString().split("T")[0];
            let startDate = document.getElementById('start_date');
            startDate.setAttribute('max', today);
            startDate.setAttribute('value', today);
            let endDate = document.getElementById('end_date');
            endDate.setAttribute('max', today);
            endDate.setAttribute('value', today);
        });

        document.getElementById("zeitraum").addEventListener("change", function () {
            const hiddenDateDiv = document.getElementById("hiddenDateDiv");

            if (this.value === "Benutzerdefiniert") {
                hiddenDateDiv.style.display = "block";
            } else {
                hiddenDateDiv.style.display = "none";
            }
        });
    </script>

    {% if family.name != 'worldwide ranking' %}
        <p>{% blocktrans with avg=average_klimapunkte|floatformat:-4 %}Durchschnittliche Klimapunkte:
            {{ avg }}{% endblocktrans %}</p>
        <p>{% blocktrans with total=total_klimapunkte|floatformat:-4 %}Gesamte Klimapunkte:
            {{ total }}{% endblocktrans %}</p>
    {% endif %}

    <p>{% blocktrans with count=members_count %}Mitglieder: {{ count }}{% endblocktrans %}</p>
    <p>{% blocktrans with period=zeitraum %}Zeitraum: {{ period }}{% endblocktrans %}</p>

    <script nonce="{{ request.csp_script_nonce }}">
        let rank = 1;
        let div_rank;
        let rank_span;
    </script>
    <ul class="klimapunkte-list">
        {% for member in members %}
            <li class="{% if member.member == user %}klimapunkte_me{% else %}klimapunkte_other{% endif %}"
                id="{% if member.member == user %}me{% else %}other{% endif %}">
                <span><span class="color-888"
                            id="rank_{{ member.member.id }}"></span>{% url 'user_detail' member.member.id as user_url %}
                        {% blocktrans with url=user_url username=member.member.username %}
                            <a href="{{ url }}">{{ username }}</a>{% endblocktrans %}</span>
                <br>
                <span class="fontSize-0-95em color-888">{% blocktrans with points=member.klimapunkte|floatformat:-4 %}({{ points }} Klimapunkte){% endblocktrans %}</span>
            </li>
            <script nonce="{{ request.csp_script_nonce }}">
                rank_span = document.getElementById("rank_{{member.member.id}}");
                rank_span.innerText = rank + ". ";
                div_rank = rank_span.closest("li");
                if (rank === 1) {
                    div_rank.style.borderLeft = "4px solid #FFD700";  // Gold
                } else if (rank === 2) {
                    div_rank.style.borderLeft = "4px solid #C0C0C0";  // Silber
                } else if (rank === 3) {
                    div_rank.style.borderLeft = "4px solid #CD7F32";  // Bronze
                }
                rank++;
            </script>
        {% endfor %}
    </ul>
    <a id="to-me" class="me-btn">{% trans "Zu mir" %}</a>
    <script nonce="{{ request.csp_script_nonce }}">
        document.getElementById('to-me').addEventListener('click', () => {
            document.getElementById('me').scrollIntoView();
        });
    </script>
{% endblock %}