{% extends 'base.html' %}

{% block meta %}
    <meta name="robots" content="noindex, nofollow">
{% endblock %}

{% block title %}ClimateQuest - {% if family %}Family {{ family.name }}{% else %}Die Family konnte nicht geladen werden.
{% endif %} {% endblock %}

{% block content %}
    <h1>Family <i>{{ family.name }}</i></h1>

    {% if messages %}
        {% for message in messages %}
            <p class="{{ message.level_tag }}-message">{{ message }}</p>
        {% endfor %}
    {% endif %}

    {% if family.name != 'worldwide ranking' %}
        {% if member_of_family %}
            <p><a href="{% url 'edit_family' family.id %}">Bearbeiten</a></p>
            {% if family.chat %}
                <p><a href="{% url 'chat_family' family.id %}">Chatten</a></p>
            {% else %}
                <p>Die Chat-Funktion ist für diese Family deaktiviert.</p>
            {% endif %}
        {% else %}
            <p>Nur Mitglieder dürfen die Bearbeiten- und Chat-Funktion nutzen.</p>
        {% endif %}
    {% else %}
        <p>Weder die Chat-Funktion noch die Bearbeiten-Funktion sind für die Family "worldwide ranking"
            freigeschaltet</p>
    {% endif %}


    <form method="POST">
        {% csrf_token %}
        <label for="filter">Sortieren nach:</label>
        <select name="filter" id="filter" required>
            <option value="Klimapunkte" selected>Klimapunkte</option>
            <option value="Username">Username</option>
        </select>

        <label for="zeitraum">Zeitraum:</label>
        <select name="zeitraum" id="zeitraum" required>
            <option value="gesamt" selected>Gesamt</option>
            <option value="heute">Heute</option>
            <option value="sieben Tage">7 Tage</option>
            <option value="dreißig Tage">30 Tage</option>
            <option value="dreihundertfünfundsechzig Tage">365 Tage</option>
            <option value="benutzerdefiniert">Benutzerdefiniert</option>
        </select>

        <div id="hiddenDateDiv" style="display: none;">
            <label for="start_date">Startdatum:</label>
            <input type="date" name="start_date" id="start_date" placeholder="Startdatum" value="" required>
            <label for="end_date">Enddatum:</label>
            <input type="date" name="end_date" id="end_date" placeholder="Enddatum" value="" required>
        </div>

        <button type="submit">Anwenden</button>
    </form>

    <script>
        document.getElementById("zeitraum").addEventListener("change", function () {
            const hiddenDateDiv = document.getElementById("hiddenDateDiv");

            if (this.value === "benutzerdefiniert") {
                hiddenDateDiv.style.display = "block";
            } else {
                hiddenDateDiv.style.display = "none";
            }
        });
    </script>

    {% if family.name != 'worldwide ranking' %}
        <p>Durchschnittliche Klimapunkte: {{ average_klimapunkte|floatformat:-4 }}</p>
        <p>Gesamte Klimapunkte: {{ total_klimapunkte|floatformat:-4 }}</p>
    {% endif %}

    <p>Mitglieder: {{ members_count }}</p>
    {% if not error %}
        <p>Zeitraum: {{ zeitraum }}</p>
        <p>Sortiert nach: {{ filter }}</p>
    {% endif %}
    <script>
        let rank = 1;
        let div_rank;
        let rank_span;
    </script>
    <ul class="klimapunkte-list">
        {% for member in members %}
            <li class="{% if member.member == user %}klimapunkte_me{% else %}klimapunkte_other{% endif %}"
                id="{% if member.member == user %}me{% else %}other{% endif %}">
                <span><span style="font-weight: #888;" id="rank_{{member.member.id}}"></span><a href="{% url 'klimapunkte_view' member.member.id %}">{{ member.member.username }}</a></span>
                <br>
                <span style="font-size:0.95em; color:#888;">({{ member.klimapunkte|floatformat:-4 }} Klimapunkte)</span>
            </li>
            <script>             
                rank_span = document.getElementById("rank_{{member.member.id}}");
                console.log(rank_span);
                rank_span.innerText = rank + ". ";
                div_rank = rank_span.closest("li");
                if (rank == 1) {
                    div_rank.style.borderLeft = "4px solid #FFD700";  // Gold
                } else if (rank == 2) {
                    div_rank.style.borderLeft = "4px solid #C0C0C0";  // Silber
                } else if (rank == 3) {
                    div_rank.style.borderLeft = "4px solid #CD7F32";  // Bronze
                }
                rank ++;
            </script>
        {% endfor %}
    </ul>
    <a href="#me" class="me-btn">Zu mir</a>
{% endblock %}