{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block meta %}
    <meta name="description" content="{% trans "Tritt einer Family bei ClimateQuest bei, um dich mit anderen Nutzern zu vergleichen und auszutauschen." %}">
{% endblock %}

{% block title %}{% trans "Family beitreten" %}{% endblock %}
{% block content %}
<h1>{% trans "Family beitreten" %}</h1>
{% if messages %}
{% for message in messages %}
<p class="{{message.level_tag}}-message">{{ message }}</p>
{% endfor %}
{% endif %}
<form method="post" >
    {% csrf_token %}
    <label for="familyname">{% trans "Familyname:" %}</label>
    <input type="text" name="familyname" id="familyname" placeholder="{% trans "Familyname" %}" required>
    <label for="family_password">{% trans "Passwort:" %}</label>
    <input type="password" name="family_password" id="family_password" placeholder="{% trans "Passwort" %}" required>
    <button type="submit">{% trans "Family beitreten" %}</button>
</form>

<p>{% url 'create_family' as create_url %}{% blocktrans with url=create_url %}Oder <a href="{{ url }}">eine Family gründen</a>.{% endblocktrans %}</p>

{% endblock %}
