{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <meta name="description" content="Tritt einer Family bei ClimateQuest bei, um dich mit anderen Nutzern zu vergleichen und auszutauschen.">
{% endblock %}

{% block title %}ClimateQuest - Family beitreten{% endblock %}
{% block content %}
<h1>Family beitreten</h1>
{% if messages %}
{% for message in messages %}
<p class="{{message.level_tag}}-message">{{ message }}</p>
{% endfor %}
{% endif %}
<form method="post" >
    {% csrf_token %}
    <label for="familyname">Familyname:</label>
    <input type="text" name="familyname" id="familyname" placeholder="Familyname" required>
    <label for="family_password">Passwort:</label>
    <input type="password" name="family_password" id="family_password" placeholder="Passwort" required>
    <button type="submit">Family beitreten</button>
</form>

<p>Oder <a  href="{% url 'create_family' %}">eine Family gründen</a>.</p>

{% endblock %}
