{% extends "base.html" %}
{% load i18n %}
{% block meta %}
    <meta name="description"
          content="{% trans "Füge ein neues Event bei ClimateQuest hinzu, um mehr Leute für große Events wie Demos zu gewinnen." %}">
{% endblock %}
{% block title %}{% trans "Event hinzufügen" %}{% endblock %}

{% block content %}
    <h1>{% trans "Event hinzufügen" %}</h1>
    {% if messages %}
        {% for message in messages %}
            <p class="{{ message.level_tag }}-message">{{ message|safe }}</p>
        {% endfor %}
    {% endif %}
    <form method="post" class="fill-editor">
        {% csrf_token %}
        <label for="name">{% trans "Name" %}</label>
        <input type="text" id="name" name="name" placeholder="{% trans "Name" %}" maxlength="100" required>

        <label for="content_editor">{% trans "Beschreibung" %}</label>
        <div class="quill-editor content_editor"></div>
        <input type="hidden" name="content">

        <label for="date_time">{% trans "Datum und Uhrzeit (Beginn)" %}</label>
        <input type="datetime-local" id="date_time" name="date_time" required>

        <label for="duration">{% trans "geschätze Dauer in Minuten" %}</label>
        <input type="number" min="0" id="duration" name="duration" placeholder="{% trans "Dauer" %}" required>

        <label for="adress">{% trans "Adresse" %}</label>
        <input type="text" id="adress" name="adress" placeholder="{% trans "Adresse" %}" maxlength="100" required>

        <label class="custom-checkbox">
            <input type="checkbox" name="is_truth">
            <span class="checkmark"></span>
            {% url 'nutzungsbedingungen' as nutzungsbedingungen_url %}
            <span class="label-text">{% blocktrans with url=nutzungsbedingungen_url %}Ich bestätige, dass alle Angaben der Wahrheit entsprechen und mit den <a href="{{ url }}">Nutzungsbedingungen</a> übereinstimmen. Außerdem verpflichte ich mich, bei dem Event selbst teilzunehmen.{% endblocktrans %}</span>
        </label>

        <button type="submit">{% trans "Hinzufügen" %}</button>
    </form>

    <script nonce="{{ request.csp_script_nonce }}">
        document.addEventListener('DOMContentLoaded', function () {
            const day_after_tomorrow = new Date(Date.now() + 48 * 60 * 60 * 1000);
            const formatted = day_after_tomorrow.toISOString().slice(0, 16); // YYYY-MM-DDTHH:MM
            let dateInput = document.getElementById('date_time');
            dateInput.min = formatted;
            dateInput.value = formatted;

            initializeQuill();
        });
    </script>
{% endblock %}