{% extends "base.html" %}
{% block meta %}
    <meta name="robots" content="noindex, nofollow">
{% endblock %}
{% block title %}ClimateQuest - Event {{ event.name }} bearbeiten{% endblock %}

{% block content %}
    <h1>Event <i>{{ event.name }}</i> bearbeiten</h1>
    {% if messages %}
        {% for message in messages %}
            <p class="{{ message.level_tag }}-message">{{ message|safe }}</p>
        {% endfor %}
    {% endif %}

    <input type="hidden" id="durationHidden" value="{{ event.duration }}">

    <p><strong>Beschreibung:</strong> {{ event.description|safe }}</p>
    <p><strong>Datum und Uhrzeit (Beginn):</strong> {{ event.date_time|date:"d.m.Y, H:i" }}</p>
    <p><strong>geschätzte Dauer in Minuten:</strong> {{ event.duration }}</p>
    <p><strong>Adresse:</strong> {{ event.adress }}</p>

    <form method="post" class="fill-editor">
        {% csrf_token %}
        <label for="name">Name</label>
        <input type="text" id="name" name="name" placeholder="Name" maxlength="100" value="{{ event.name }}" required>

        <label for="content_editor">Beschreibung</label>
        <div id="content_editor">{{ event.description|safe }}</div>
        <small>Wenn du die Quill-Cookies abgelehnt hast, können Design-Elemente nicht richtig angezeigt werden. Stattdessen wirst du seltsame Tags wie &lt;p&gt; sehen.</small>
        <input type="hidden" name="content">

        <label for="date_time">Datum und Uhrzeit (Beginn)</label>
        <input type="datetime-local" id="date_time" name="date_time" value="{{ event.date_time|date:"d.m.Y, H:i" }}"
               required>

        <label for="duration">geschätze Dauer in Minuten</label>
        <input type="number" min="0" id="duration" name="duration" placeholder="Dauer"
               required>

        <label for="adress">Adresse</label>
        <input type="text" id="adress" name="adress" placeholder="Adresse" value="{{ event.adress }}" maxlength="100" required>

        <label class="custom-checkbox">
            <input type="checkbox" name="is_truth">
            <span class="checkmark"></span>
            <span class="label-text">Ich bestätige, dass alle Angaben der Wahrheit entsprechen und mit den <a
                    href="{% url 'nutzungsbedingungen' %}">Nutzungsbedingungen</a> übereinstimmen. Außerdem verpflichte ich mich, bei dem Event selbst teilzunehmen.</span>
        </label>

        <button type="submit" name="edit">Speichern</button>
    </form>
    <form method="post" class="form-confirm" data-confirm="Möchtest du dieses Event wirklich löschen?">
        {% csrf_token %}
        <button type="submit" name="delete" class="color-red">Event löschen</button>
    </form>

    <!-- Quill CSS -->
    <div class="cookie-blocked" data-requires="quill"
         data-content='<link href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.snow.css" rel="stylesheet" />'>
    </div>


    <script nonce="{{ request.csp_script_nonce }}">
        document.addEventListener('DOMContentLoaded', function () {
            const tomorrow = new Date(Date.now() + 24 * 60 * 60 * 1000);
            const formatted = tomorrow.toISOString().slice(0, 16); // YYYY-MM-DDTHH:MM
            let dateInput = document.getElementById('date_time');
            dateInput.min = formatted;

            let duration = document.getElementById('durationHidden').value;
            let durationInput = document.getElementById('duration');
            duration = formatToFloat(duration);
            durationInput.value = duration;

            initializeQuill();
        });

        function formatToFloat(str) {
            const normalized = str.replace(/\./g, '').replace(',', '.');
            return parseFloat(normalized);
        }
    </script>

{% endblock %}