{% extends "base.html" %}
{% load i18n %}
{% block meta %}
    <meta name="description"
          content="{% trans "Übersicht aller Events bei ClimateQuest. Finde Events wie Demos und nimm daran teil, um deinen Beitrag zum Klimaschutz zu leisten." %}">
{% endblock %}
{% block title %}{% trans "Events - Übersicht" %}{% endblock %}

{% block content %}
    <style nonce="{{ request.csp_style_nonce }}">
        .event-date-relative {
            font-weight: 100;
            filter: grayscale(100%);
            margin-bottom: 5px;
        }

        .event-date-relative::before {
            content: "📅 ";
            margin-right: 4px;
        }
    </style>
    <h1>{% trans "Events - Übersicht" %}</h1>
    {% if messages %}
        {% for message in messages %}
            <p class="{{ message.level_tag }}-message">{{ message|safe }}</p>
        {% endfor %}
    {% endif %}
    {% if request.LANGUAGE_CODE == "en" %}
        <p>Events are currently only available in German. Thanks for your understanding!</p>{% endif %}
    <a href="{% url 'add_event' %}" class="redirect-link">
        <span>{% trans "Event hinzufügen" %}</span>
        <span class="redirect-link-icon">→</span>
    </a>
    <form method="post">
        {% csrf_token %}
        <div id="search_keyword_div">
            <label for="search_keyword">{% trans "Suchwort:" %}</label>
            <small>{% trans "Leer lassen, um alle Events anzuzeigen" %}</small>
            <input type="search" name="search_keyword" id="search_keyword" placeholder="{% trans "Suchwort" %}">
        </div>

        <label for="order_by">{% trans "Sortieren nach:" %}</label>
        <select name="order_by" id="order_by" required>
            <option value="Name" selected>{% trans "Name" %}</option>
            <option value="Datum">{% trans "Datum" %}</option>
            <option value="Dauer">{% trans "Dauer" %}</option>
            <option value="Adresse">{% trans "Adresse" %}</option>
            <option value="Ersteller">{% trans "Ersteller" %}</option>
            <option value="Teilnehmeranzahl">{% trans "Teilnehmeranzahl" %}</option>
            {% if user.is_authenticated %}
                <option value="von mir erstellte Events">{% trans "von mir erstellte Events" %}</option>
                <option value="Events, bei denen ich Teilnehmer bin">{% trans "Events, bei denen ich Teilnehmer bin" %}</option>
            {% endif %}
        </select>

        <label class="custom-checkbox">
            <input type="checkbox" name="past_events_visible">
            <span class="checkmark"></span>
            <span class="label-text">{% trans "bereits Vergange einblenden" %}</span>
        </label>

        <button type="submit">{% trans "Anwenden" %}</button>
    </form>

    <script nonce="{{ request.csp_script_nonce }}">
        search_keyword = document.querySelector('input[name=search_keyword]');
        order_by = document.querySelector('select[name=order_by]');
        search_keyword_div = document.getElementById('search_keyword_div');

        order_by.addEventListener('change', function () {
            if (order_by.value === "von mir erstellte Events" || order_by.value === "Events, bei denen ich Teilnehmer bin") {
                search_keyword_div.style.display = "none";
            } else {
                search_keyword_div.style.display = "block";
            }
        });
    </script>

    <p>{% trans "Sortiert nach:" %} {{ ordered_by }}</p>
    {% if search_keyword %}
        <p>{% trans "Suchwort:" %} {{ search_keyword }}</p>
    {% endif %}
    {% if past_events_visible %}
        <p>{% trans "Vergange Events eingeblendet" %}</p>
    {% else %}
        <p>{% trans "Vergange Events nicht eingeblendet" %}</p>
    {% endif %}
    <p>{% blocktrans with count=events.count %}{{ count }} Suchergebnisse{% endblocktrans %}</p>

    {% if request.user.is_authenticated %}
        <details>
            <summary>{% trans "Farbcode" %}</summary>
            <p class="event-card">{% trans "Ein ganz normales Event" %}</p>
            <p class="event-card event-card-creator">{% trans "Du hast dieses Event erstellt" %}</p>
            <p class="event-card event-card-participant">{% trans "Du nimmst an diesem Event teil" %}</p>
        </details>
    {% endif %}
    <hr>

    {% if events %}
        {% for event in events %}
            <section
                    class="event-card{% if request.user in event.participants.all %} event-card-participant{% elif request.user == event.creator %} event-card-creator{% endif %}">
                <div class="event-main">
                    <h2 class="event-title">{{ event.name }}</h2>
                    <span class="event-date-relative"></span>
                    {% if ordered_by == 'Datum' %}
                        <p><strong>{% trans "Datum und Uhrzeit (Beginn):" %}</strong> <span class="event-date"
                                                                                            data-date="{{ event.date_time|date:'c' }}">{{ event.date_time|date:"SHORT_DATETIME_FORMAT" }}</span>
                        </p>

                    {% elif ordered_by == 'Dauer' %}
                        <p><strong>{% trans "Dauer in Minuten:" %}</strong> {{ event.duration }}</p>

                    {% elif ordered_by == 'Adresse' %}
                        <p><strong>{% trans "Adresse:" %}</strong> {{ event.adress }}</p>

                    {% elif ordered_by == 'Ersteller' %}
                        {% url 'user_detail' event.creator.id as creator_url %}
                        <p><strong>{% trans "Ersteller:" %}</strong> <a
                                href="{{ creator_url }}">{{ event.creator.username }}</a>
                            {% if request.user == event.creator %}{% trans "(Du)" %}{% endif %}</p>

                    {% elif ordered_by == 'Teilnehmeranzahl' %}
                        <details class="event-details">
                            <summary>
                                <p><strong>{% trans "Teilnehmeranzahl:" %}</strong> {{ event.participants_count }}</p>
                            </summary>
                            <ul class="participant-list">
                                {% for participant in event.participants.all %}
                                    <li>{{ participant }}</li>
                                {% endfor %}
                            </ul>
                        </details>
                    {% endif %}
                </div>

                <details class="event-details">
                    <summary>{% trans "mehr" %}</summary>
                    <div class="event-extra">
                        <p class="description"><strong>{% trans "Beschreibung:" %}</strong></p>
                        <div class="event-description">{{ event.description|safe }}</div>
                        </p>
                        {% if ordered_by != 'Datum' %}
                            <p><strong>{% trans "Datum und Uhrzeit (Beginn):" %}</strong> <span class="event-date"
                                                                                                data-date="{{ event.date_time|date:'c' }}">{{ event.date_time|date:"SHORT_DATETIME_FORMAT" }}</span>
                            </p>
                        {% endif %}
                        {% if ordered_by != 'Dauer' %}
                            <p><strong>{% trans "Dauer in Minuten:" %}</strong> {{ event.duration }}</p>
                        {% endif %}
                        {% if ordered_by != 'Adresse' %}
                            <p><strong>{% trans "Adresse:" %}</strong> {{ event.adress }}</p>
                        {% endif %}
                        {% if ordered_by != 'Ersteller' %}
                            {% url 'user_detail' event.creator.id as creator_url2 %}
                            <p><strong>{% trans "Ersteller:" %}</strong> <a
                                    href="{{ creator_url2 }}">{{ event.creator.username }}</a>
                                {% if request.user == event.creator %}{% trans "(Du)" %}{% endif %}</p>
                        {% endif %}
                        {% if ordered_by != 'Teilnehmeranzahl' %}
                            <details class="event-details">
                                <summary>
                                    <p><strong>{% trans "Teilnehmeranzahl:" %}</strong> {{ event.participants_count }}
                                    </p>
                                </summary>
                                <ul class="participant-list">
                                    {% for participant in event.participants.all %}
                                        <li>{{ participant }}</li>
                                    {% endfor %}
                                </ul>
                            </details>
                        {% endif %}
                    </div>
                </details>

                {% url 'event_detail' event.id as event_detail_url %}
                <a class="event-link" href="{{ event_detail_url }}">{% trans "Details ansehen" %}</a>
            </section>
        {% endfor %}
    {% else %}
        <p><i>{% trans "Es gibt derzeit keine Events mit diesem Filter." %}</i></p>
    {% endif %}

    <script nonce="{{ request.csp_script_nonce }}">
        function getLabel(dateStr) {
            const now = new Date();
            const target = new Date(dateStr);

            // Nur Datum vergleichen, keine Uhrzeit
            const today = new Date(now.getFullYear(), now.getMonth(), now.getDate());
            const targetDay = new Date(target.getFullYear(), target.getMonth(), target.getDate());

            const diffDays = Math.round((targetDay - today) / (1000 * 60 * 60 * 24));

            if (diffDays < 0) return "{% trans 'vergangen' %}";
            if (diffDays === 0) return "{% trans 'heute' %}";
            if (diffDays === 1) return "{% trans 'morgen' %}";
            if (diffDays === 2) return "{% trans 'übermorgen' %}";
            if (diffDays <= 7) return "{% trans 'innerhalb der nächsten Woche' %}";
            if (diffDays <= 30) return "{% trans 'innerhalb der nächsten 30 Tage' %}";
            if (diffDays <= 365) return "{% trans 'innerhalb des nächsten Jahres' %}";
            return "{% trans 'noch über ein Jahr entfernt' %}";
        }

        document.querySelectorAll('.event-card').forEach(div => {
            const dateSpan = div.querySelector('.event-date');
            const labelSpan = div.querySelector('.event-date-relative');
            const dateStr = dateSpan.dataset.date;

            const label = getLabel(dateStr);
            labelSpan.textContent = label;
        });

        document.addEventListener("DOMContentLoaded", function () {
            const descriptions = document.querySelectorAll(".description");

            descriptions.forEach(description => {
                const button = description.querySelector(".toggle-button");

                let shouldBlur = false;

                const textLength = description.textContent.trim().length;
                if (textLength > 100) {
                    shouldBlur = true;
                    description.classList.add("blur-enabled");
                } else {
                    description.classList.remove("blur-enabled");
                }
            });
        });
    </script>
{% endblock %}