{% extends "base.html" %}
{% block meta %}
    <meta name="description"
          content="Übersicht aller Events bei ClimateQuest. Finde Events wie Demos und nimm daran teil, um deinen Beitrag zum Klimaschutz zu leisten.">
{% endblock %}
{% block title %}Events - Übersicht{% endblock %}

{% block content %}
    <style nonce="{{ request.csp_style_nonce }}">
        .event-date-relative {
            font-weight: 100;
            filter: grayscale(100%);
            margin-bottom: 5px;
        }

        .event-date-relative::before {
            content: "📅 ";
            margin-right: 4px;
        }
    </style>
    <h1>Events - Übersicht</h1>
    {% if messages %}
        {% for message in messages %}
            <p class="{{ message.level_tag }}-message">{{ message|safe }}</p>
        {% endfor %}
    {% endif %}
    <a href="{% url 'add_event' %}" class="redirect-link ">
        <span>Event hinzufügen</span>
        <span class="redirect-link-icon">→</span>
    </a>
    <form method="post">
        {% csrf_token %}
        <div id="search_keyword_div">
            <label for="search_keyword">Suchwort:</label>
            <small>Leer lassen, um alle Events anzuzeigen</small>
            <input type="search" name="search_keyword" id="search_keyword" placeholder="Suchwort">
        </div>

        <label for="order_by">Sortieren nach:</label>
        <select name="order_by" id="order_by" required>
            <option value="Name" selected>Name</option>
            <option value="Datum">Datum</option>
            <option value="Dauer">Dauer</option>
            <option value="Adresse">Adresse</option>
            <option value="Ersteller">Ersteller</option>
            <option value="Teilnehmeranzahl">Teilnehmeranzahl</option>
            {% if user.is_authenticated %}
                <option value="von mir erstellte Events">von mir erstellte Events</option>
                <option value="Events, bei denen ich Teilnehmer bin">Events, bei denen ich Teilnehmer bin</option>
            {% endif %}
        </select>

        <label class="custom-checkbox">
            <input type="checkbox" name="past_events_visible">
            <span class="checkmark"></span>
            <span class="label-text">bereits Vergange einblenden</span>
        </label>

        <button type="submit">Anwenden</button>
    </form>

    <script nonce="{{ request.csp_script_nonce }}">
        search_keyword = document.querySelector('input[name=search_keyword]');
        order_by = document.querySelector('select[name=order_by]');
        search_keyword_div = document.getElementById('search_keyword_div');

        order_by.addEventListener('change', function () {
            if (order_by.value === "von mir erstellte Events" || order_by.value === "Events, bei denen ich Teilnehmer bin") {
                search_keyword_div.style.display = "none";
            } else {
                search_keyword_div.style.display = "block";
            }
        });
    </script>

    <p>Sortiert nach: {{ ordered_by }}</p>
    {% if search_keyword %}
        <p>Suchwort: {{ search_keyword }}</p>
    {% endif %}
    {% if past_events_visible %}
        <p>Vergange Events eingeblendet</p>
    {% else %}
        <p>Vergange Events nicht eingeblendet</p>
    {% endif %}
    <p>{{ events.count }} Suchergebnisse</p>

    {% if events %}
        {% for event in events %}
            <section
                    class="event-card{% if request.user in event.participants.all %} event-card-participant{% elif request.user == event.creator %} event-card-creator{% endif %}">
                <div class="event-main">
                    <h2 class="event-title">{{ event.name }}</h2>
                    <span class="event-date-relative"></span>
                    {% if ordered_by == 'Datum' %}
                        <p><strong>Datum und Uhrzeit (Beginn):</strong> <span class="event-date"
                                                                              data-date="{{ event.date_time|date:'c' }}">{{ event.date_time|date:"d.m.Y, H:i" }}</span>
                        </p>

                    {% elif ordered_by == 'Dauer' %}
                        <p><strong>Dauer in Minuten:</strong> {{ event.duration }}</p>

                    {% elif ordered_by == 'Adresse' %}
                        <p><strong>Adresse:</strong> {{ event.adress }}</p>

                    {% elif ordered_by == 'Ersteller' %}
                        <p><strong>Ersteller:</strong> <a
                                href="{% url 'user_detail' event.creator.id %}">{{ event.creator.username }}</a>
                            {% if request.user == event.creator %}(Du){% endif %}</p>

                    {% elif ordered_by == 'Teilnehmeranzahl' %}
                        <details class="event-details">
                            <summary>
                                <p><strong>Teilnehmeranzahl:</strong> {{ event.participants_count }}</p>
                            </summary>
                            <ul class="participant-list">
                                {% for participant in event.participants.all %}
                                    <li>{{ participant }}</li>
                                {% endfor %}
                            </ul>
                        </details>
                    {% endif %}
                </div>

                <details class="event-details">
                    <summary>mehr</summary>
                    <div class="event-extra">
                        <p class="description"><strong>Beschreibung:</strong></p>
                        <div class="event-description">{{ event.description|safe }}</div>
                        </p>
                        {% if ordered_by != 'Datum' %}
                            <p><strong>Datum und Uhrzeit (Beginn):</strong> <span class="event-date"
                                                                                  data-date="{{ event.date_time|date:'c' }}">{{ event.date_time|date:"d.m.Y, H:i" }}</span>
                            </p>
                        {% endif %}
                        {% if ordered_by != 'Dauer' %}
                            <p><strong>Dauer in Minuten:</strong> {{ event.duration }}</p>
                        {% endif %}
                        {% if ordered_by != 'Adresse' %}
                            <p><strong>Adresse:</strong> {{ event.adress }}</p>
                        {% endif %}
                        {% if ordered_by != 'Ersteller' %}
                            <p><strong>Ersteller:</strong> <a
                                    href="{% url 'user_detail' event.creator.id %}">{{ event.creator.username }}</a>
                                {% if request.user == event.creator %}(Du){% endif %}</p>
                        {% endif %}
                        {% if ordered_by != 'Teilnehmeranzahl' %}
                            <details class="event-details">
                                <summary>
                                    <p><strong>Teilnehmeranzahl:</strong> {{ event.participants_count }}</p>
                                </summary>
                                <ul class="participant-list">
                                    {% for participant in event.participants.all %}
                                        <li>{{ participant }}</li>
                                    {% endfor %}
                                </ul>
                            </details>
                        {% endif %}
                    </div>
                </details>

                <a class="event-link" href="{% url 'event_detail' event.id %}">Details ansehen</a>
            </section>
        {% endfor %}
    {% else %}
        <p><i>Es gibt derzeit keine Events mit diesem Filter.</i></p>
    {% endif %}

    <script nonce="{{ request.csp_script_nonce }}">
        function getLabel(dateStr) {
            const now = new Date();
            const target = new Date(dateStr);

            // Nur Datum vergleichen, keine Uhrzeit
            const today = new Date(now.getFullYear(), now.getMonth(), now.getDate());
            const targetDay = new Date(target.getFullYear(), target.getMonth(), target.getDate());

            const diffDays = Math.round((targetDay - today) / (1000 * 60 * 60 * 24));

            if (diffDays < 0) return "vergangen";
            if (diffDays === 0) return "heute";
            if (diffDays === 1) return "morgen";
            if (diffDays === 2) return "übermorgen";
            if (diffDays <= 7) return "innerhalb der nächsten Woche";
            if (diffDays <= 30) return "innerhalb der nächsten 30 Tage";
            if (diffDays <= 365) return "innerhalb des nächsten Jahres";
            return "noch über ein Jahr entfernt";
        }

        document.querySelectorAll('.event-card').forEach(div => {
            const dateSpan = div.querySelector('.event-date');
            const labelSpan = div.querySelector('.event-date-relative');
            const dateStr = dateSpan.dataset.date;

            const label = getLabel(dateStr);
            labelSpan.textContent = label;
        });

        document.addEventListener("DOMContentLoaded", function () {
            const descriptions = document.querySelectorAll(".description");

            descriptions.forEach(description => {
                const button = description.querySelector(".toggle-button");

                let shouldBlur = false;

                const textLength = description.textContent.trim().length;
                if (textLength > 100) {
                    shouldBlur = true;
                    description.classList.add("blur-enabled");
                } else {
                    description.classList.remove("blur-enabled");
                }
            });
        });
    </script>
{% endblock %}