{% extends "base.html" %}
{% load i18n %}
{% block meta %}
    <meta name="description"
          content="{% blocktrans with name=event.name %}Details und Teilnahmeoptionen für das Event {{ name }} bei ClimateQuest ansehen. Stelle Fragen und werde Teil des Events.{% endblocktrans %}">
{% endblock %}
{% block title %}{% blocktrans with name=event.name %}Event {{ name }}{% endblocktrans %}{% endblock %}

{% block content %}

    <style nonce="{{ request.csp_style_nonce }}">
        .event-form {
            margin-top: 1em;
        }

        .join-button {
            background-color: var(--color-primary);
        }

        .leave-button {
            background-color: var(--color-notification);
        }
    </style>

    {% url 'events_overview' as events_overview_url %}
    <h1>{% blocktrans with url=events_overview_url name=event.name %}<a href="{{ url }}">Event</a> <i>{{ name }}</i>{% endblocktrans %}</h1>

    {% if request.user != event.creator %}
        <p class="participant-status">
            {% if request.user in event.participants.all %}
                {% trans "Du bist Teilnehmer dieses Events" %}
            {% else %}
                {% trans "Du bist nicht Teilnehmer dieses Events" %}
            {% endif %}
        </p>
    {% endif %}

    {% if messages %}
        {% for message in messages %}
            <p class="{{ message.level_tag }}-message">{{ message|safe }}</p>
        {% endfor %}
    {% endif %}

    <p><strong>{% trans "Beschreibung:" %}</strong></p>
    <div class="event-description">{{ event.description|safe }}</div>
    <p><strong>{% trans "Datum und Uhrzeit (Beginn):" %}</strong> {{ event.date_time|date:"SHORT_DATETIME_FORMAT" }}</p>
    <p><strong>{% trans "geschätzte Dauer in Minuten:" %}</strong> {{ event.duration }}</p>
    <p><strong>{% trans "Adresse:" %}</strong> {{ event.adress }}</p>

    <p class="{% if request.user == event.creator %}event-creator{% else %}event-user{% endif %}">
        {% url 'user_detail' event.creator.id as user_detail_url %}
        {% blocktrans with url=user_detail_url username=event.creator.username %}<strong>Ersteller:</strong> <a href="{{ url }}">{{ username }}</a>{% endblocktrans %}
        {% if request.user == event.creator %}{% trans "(Du)" %}{% endif %}
    </p>

    <details class="event-details">
        <summary>
            <strong>{% trans "Teilnehmeranzahl:" %}</strong> {{ event.participants_count }}
        </summary>
        <ul class="participant-list">
            {% for participant in event.participants.all %}
                <li>{{ participant }}</li>
            {% endfor %}
        </ul>
    </details>

    {% if user.is_authenticated %}
        {% if request.user != event.creator %}
            <form method="post" class="event-form">
                {% csrf_token %}
                {% if request.user in event.participants.all %}
                    <button name="become_member" type="submit" class="leave-button">{% trans "aus Event aussteigen" %}</button>
                {% else %}
                    <button name="become_member" type="submit" class="join-button">{% trans "Teilnehmer werden" %}</button>
                {% endif %}
            </form>
        {% else %}
            {% url 'edit_event' event.id as edit_event_url %}
            <a href="{{ edit_event_url }}" class="edit-link">{% trans "Bearbeiten" %}</a>
        {% endif %}
    {% endif %}

    <h3 class="section-title">{% trans "Fragen" %}</h3>
    <div class="comment-section">
        {% if event.questions.all %}
            {% for question in event.questions.all %}
                <div class="comment">
                    <div class="text-wrapper">
                        <div class="question-header">
                            {% url 'user_detail' question.user.id as question_user_url %}
                            <span class="question-user"><a href="{{ question_user_url }}">{{ question.user }}</a></span>
                            <span class="question-date">{{ question.date_time|date:"SHORT_DATETIME_FORMAT" }}</span>
                        </div>
                        <div class="question expandable-text blur-enabled">{{ question.question }}</div>
                        <div class="answers">
                            {% for answer in question.answers.all %}
                                <div class="answer-header">
                                    {% url 'user_detail' answer.user.id as answer_user_url %}
                                    <span class="answer-user"><a href="{{ answer_user_url }}">{{ answer.user }}</a></span>
                                    <span class="answer-date">{{ answer.date_time|date:"SHORT_DATETIME_FORMAT" }}</span>
                                </div>
                                <div class="answer expandable-text blur-enabled">{{ answer.answer }}</div>
                            {% empty %}
                                <div class="no-answer">{% trans "Noch keine Antworten." %}</div>
                            {% endfor %}
                        </div>
                        <button class="toggle-button">{% trans "Mehr anzeigen" %}</button>
                        <details>
                            <summary>{% trans "selbst antworten" %}</summary>
                            {% if user.is_authenticated %}
                                <form method="post" >
                                    {% csrf_token %}
                                    <input type="hidden" name="question_id" value="{{ question.id }}">
                                    <label for="answer">{% trans "Antwort:" %}</label>
                                    <input type="text" name="answer" id="answer" placeholder="{% trans "Antwort" %}">
                                    <button name="answer_question">{% trans "Antworten" %}</button>
                                </form>
                            {% else %}
                                {% url 'login_view' as login_url %}
                                <p>{% blocktrans with url=login_url %}<a href="{{ url }}">Logge dich ein</a>, um den Kommentar zu beantworten{% endblocktrans %}</p>
                            {% endif %}
                        </details>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p class="no-questions"><i>{% trans "Noch keine Fragen vorhanden" %}</i></p>
        {% endif %}
    </div>

    <script nonce="{{ request.csp_script_nonce }}">
        document.addEventListener("DOMContentLoaded", function () {
            const comments = document.querySelectorAll(".comment");

            comments.forEach(comment => {
                const button = comment.querySelector(".toggle-button");
                const wrapper = comment.querySelector(".text-wrapper");
                const expandableElements = comment.querySelectorAll(".expandable-text");

                let shouldBlur = false;

                expandableElements.forEach(el => {
                    const textLength = el.textContent.trim().length;
                    if (textLength > 100) {
                        shouldBlur = true;
                        el.classList.add("blur-enabled");
                    } else {
                        el.classList.remove("blur-enabled");
                    }
                });

                if (shouldBlur) {
                    button.style.display = "inline-block";
                    button.addEventListener("click", () => {
                        wrapper.classList.toggle("expanded");
                        button.textContent = wrapper.classList.contains("expanded") ? "Weniger anzeigen" : "Mehr anzeigen";
                    });
                } else {
                    button.style.display = "none";
                }
            });
        });
    </script>

    {% if user.is_authenticated %}
        <form method="post" >
            {% csrf_token %}
            <label for="question">{% trans "Frage stellen:" %}</label>
            <input type="text" name="question" id="question" placeholder="{% trans "Frage stellen" %}">
            <button type="submit" name="ask_question">{% trans "Frage stellen" %}</button>
        </form>
    {% else %}
        {% url 'login_view' as login_url %}
        <p>{% blocktrans with url=login_url %}<a href="{{ url }}">Logge dich ein</a>, um einen Kommentar zu verfassen{% endblocktrans %}</p>
    {% endif %}
{% endblock %}