{% extends 'base.html' %}

{% block meta %}
    <meta name="description" content="Willkommen zur C">
{% endblock %}

{% block title %}Hall of Fame - ClimateQuest{% endblock %}

{% block content %}
    <style nonce="{{ request.csp_style_nonce }}">
        .preview {
            border-left: solid 3px red;
            margin-bottom: 20px;
            padding-left: 10px;
        }

        .preview .h2_size {
            color: red;
        }
    </style>
    <h1>Hall of Fame</h1>
    {% if messages %}
        {% for message in messages %}
            <p class="{{ message.level_tag }}-message">{{ message|safe }}</p>
        {% endfor %}
    {% endif %}
    <div class="preview">
        <p class="h2_size">Vorschau</p>
        <p>Dieses Feature existiert so noch nicht, wird aber bald eingeführt werden. Du kannst dich bereits jetzt
            informieren, wie es später aussehen wird.</p>
    </div>
    <p>Die Hall of Fame enthält die besten User von ClimateQuest. Regelmäßig werden von uns Quests veröffentlicht, zum
        Beispiel <i>Sammle diese Woche mindestens 150 Klimapunkte</i> oder <i>Gehöre diesen Monat zu den Top 5
            Klimapunkt-Sammlern</i>. Jeder User, der das schafft, erhält einen Eintrag in der Hall of Fame. User, die es
        sogar mehrfach in die Hall of Fame schaffen, werden höher gelistet.</p>
{% endblock %}