{% extends 'base.html' %}

{% load i18n %}

{% block meta %}
    <meta name="description" content="{% trans "Guck dir alle Petitionen bei ClimateQuest an" %}">
{% endblock %}

{% block title %}{% trans "Petitionen" %}{% endblock %}

{% block content %}
    <h1>{% trans "Petitionen - Übersicht" %}</h1>
    {% if messages %}
        {% for message in messages %}
            <p class="{{ message.level_tag }}-message">{{ message|safe }}</p>
        {% endfor %}
    {% endif %}
    {% if request.LANGUAGE_CODE == "en" %}
        <p>Petitions are currently only available in German. Thanks for your understanding!</p>{% endif %}
    <a href="{% url 'add_petition' %}" class="redirect-link ">
        <span>{% trans "Petition hinzufügen" %}</span>
        <span class="redirect-link-icon">→</span>
    </a>
    <br>
    <a href="https://www.change.org/p/mehr-begr%C3%BCnung-in-m%C3%BCnchen" class="redirect-link">
        <span>{% trans "Petition für mehr Begrünung in München" %}</span>
        <span class="redirect-link-icon">→</span>
    </a>
    <form method="post">
        {% csrf_token %}
        <div id="search_keyword_div">
            <small>{% trans "Leer lassen, um alle Petitionen anzuzeigen" %}</small>
            <label for="search_keyword">{% trans "Suchwort:" %}</label>
            <input type="search" id="search_keyword" name="search_keyword" placeholder="{% trans "Suchwort" %}">
        </div>
        <label for="order_by">{% trans "Sortieren nach:" %}</label>
        <select name="order_by" id="order_by" required>
            <option value="Titel" selected>{% trans "Titel" %}</option>
            <option value="Ersteller">{% trans "Ersteller" %}</option>
            <option value="Erstellt am">{% trans "Erstellt am" %}</option>
            <option value="Unterschriften">{% trans "Unterschriften" %}</option>
            {% if user.is_authenticated %}
                <option value="von mir erstellte Petitionen">{% trans "von mir erstellte Petitionen" %}</option>
                <option value="von mir unterschriebene Petitionen">{% trans "von mir unterschriebene Petitionen" %}</option>
            {% endif %}
        </select>


        <label for="category">{% trans "Kategorie:" %}</label>
        <select name="category" id="category" required>
            <option value="Alle" selected>{% trans "Alle" %}</option>
            {% for category in all_categories %}
                <option value="{{ category.title }}">{{ category.title }}</option>
            {% endfor %}
        </select>

        <label class="custom-checkbox">
            <input type="checkbox" name="success_visible">
            <span class="checkmark"></span>
            <span class="label-text">{% trans "Erfolgreiche einblenden" %}</span>
        </label>

        <button type="submit">{% trans "Anwenden" %}</button>
    </form>
    <script nonce="{{ request.csp_script_nonce }}">
        let search_keyword = document.querySelector('input[name=search_keyword]');
        let order_by = document.querySelector('select[name=order_by]');
        let search_keyword_div = document.getElementById('search_keyword_div');

        order_by.addEventListener('change', function () {
            if (order_by.value === "von mir erstellte Petitionen" || order_by.value === "von mir unterschriebene Petitionen") {
                search_keyword_div.style.display = "none";
            } else {
                search_keyword_div.style.display = "block";
            }
        });
    </script>
    <p>{% trans "Sortiert nach" %}: {{ ordered_by }}</p>
    {% if search_keyword %}
        <p>{% trans "Suchwort" %}: {{ search_keyword }}</p>
    {% endif %}
    <p>{% trans "Kategorie" %}: {{ category }}</p>
    {% if success_visible %}
        <p>{% trans "Erfolgreiche Petitionen eingeblendet" %}</p>
    {% endif %}
    <p>{{ petitions.count }} {% trans "Suchergebnisse" %}</p>

    {% if request.user.is_authenticated %}
        <details>
            <summary>{% trans "Farbcode" %}</summary>
            <p class="event-card">{% trans "Eine ganz normale Petition" %}</p>
            <p class="event-card event-card-creator">{% trans "Du hast diese Petition erstellt" %}</p>
            <p class="event-card event-card-participant">{% trans "Du hast diese Petition unterschrieben" %}</p>
        </details>
    {% endif %}
    <hr>

    {% if petitions %}
        {% for single_petition in petitions %}
            <section
                    class="event-card{% if request.user == single_petition.creator %} event-card-creator{% elif request.user in single_petition.signs.all %} event-card-participant{% endif %}">
                <div class="event-main">
                    <h2 class="event-title">{{ single_petition.title }}</h2>
                    <p>{% trans "Kategorie" %}: {{ single_petition.category.title }}</p>
                    {% if single_petition.success %}
                        <p><span class="emoji">&#x1F389;</span><strong
                                class="color-red">{% trans "Diese Petition hatte Erfolg" %}</strong><span class="emoji">&#x1F389;</span>
                        </p>
                    {% endif %}
                    {% if ordered_by == 'Erstellt am' %}
                        <p><strong>{% trans "Erstellt am:" %}</strong> <span class="event-date"
                                                                             data-date="{{ single_petition.created_at|date:'c' }}">{{ single_petition.created_at|date:"SHORT_DATE_FORMAT" }}</span>
                        </p>

                    {% elif ordered_by == 'Ersteller' %}
                        <p><strong>{% trans "Ersteller:" %}</strong> <a
                                href="{% url 'user_detail' single_petition.creator.id %}">{{ single_petition.creator.username }}</a>
                            {% if request.user == single_petition.creator %}({% trans "Du" %}){% endif %}</p>
                    {% elif ordered_by == 'Unterschriften' %}
                        <p><strong>{% trans "Unterschriften:" %}</strong> {{ single_petition.signs_count }}</p>
                    {% endif %}
                </div>

                <details class="event-details">
                    <summary>{% trans "mehr" %}</summary>
                    <div class="event-extra">
                        {% if ordered_by != 'Erstellt am' %}
                            <p><strong>{% trans "Erstellt am:" %}</strong> <span class="event-date"
                                                                                 data-date="{{ single_petition.created_at|date:'c' }}">{{ single_petition.created_at|date:"SHORT_DATE_FORMAT" }}</span>
                            </p>
                        {% endif %}
                        {% if ordered_by != 'Ersteller' %}
                            <p><strong>{% trans "Ersteller:" %}</strong> <a
                                    href="{% url 'user_detail' single_petition.creator.id %}">{{ single_petition.creator.username }}</a>
                                {% if request.user == single_petition.creator %}({% trans "Du" %}){% endif %}</p>
                        {% endif %}
                        {% if ordered_by != 'Unterschriften' %}
                            <p><strong>{% trans "Unterschriften:" %}</strong> {{ single_petition.signs_count }}</p>
                        {% endif %}
                    </div>
                </details>

                <a class="event-link"
                   href="{% url 'petition_detail' single_petition.id %}">{% trans "Details ansehen" %}</a>
            </section>
        {% endfor %}
    {% else %}
        <p><i>{% trans "Es gibt derzeit keine Petitionen mit diesem Filter." %}</i></p>
    {% endif %}

{% endblock %}