{% extends 'base.html' %}
{% load html_math %}

{% load static %}
{% load i18n %}

{% block meta %}
    <meta name="description" content="{% blocktrans with title=petition_title %}Sieh dir die Petition {{ title }} an{% endblocktrans %}">
{% endblock %}

{% block title %}{% blocktrans with petition_title=petition.title %}Petition {{ petition_title }}{% endblocktrans %}{% endblock %}

{% block content %}
    <style nonce="{{ request.csp_style_nonce }}">
        .updates {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            margin-top: 2rem;
        }
    </style>
    {% if petition.success %}
        <script src="{% static 'js/confetti.js' %}"></script>
        <script nonce="{{ request.csp_script_nonce }}">startConfetti();</script>
    {% endif %}

    <h1><a href="{% url 'petitions_overview' %}">{% trans "Petition" %}</a> <i>{{ petition.title }}</i></h1>
    {% if messages %}
        {% for message in messages %}
            <p class="{{ message.level_tag }}-message">{{ message|safe }}</p>
        {% endfor %}
    {% endif %}
    {% if petition.success %}
        <h2>{% trans "Die Petition hatte Erfolg!" %}</h2>
    {% endif %}
    <div class="progress-container">
        <div class="progress-bar" id="progress-bar"></div>
    </div>
    <style nonce="{{ request.csp_style_nonce }}">
        .progress-container {
            margin-top: 20px;
        }

        #progress-bar {
            width: {{ petition.signs.count|percent:petition.goal|floatformat:0 }}%;
            max-width: 100%;
        }
    </style>
    <p><strong>{{ petition.signs.count }}</strong> {% trans "Unterschriften gesammelt" %}</p>
    <p>{% trans "Ziel" %}: <strong>{{ petition.goal }}</strong></p>
    {% if petition.signs.count >= petition.goal and not petition.success %}
        <p>{% trans "Obwohl das Unterschriftenziel bereits erreicht wurde, heißt das nicht, dass die Petition auch erfolgreich ist. Deine Stimme ist immer noch wichtig!" %}</p>
    {% endif %}
    <hr>
    <div class="artikel-content">{{ petition.content|safe }}</div>
    <p>{% trans "Kategorie" %}: <strong>{{ petition.category.title }}</strong></p>
    <p>{% trans "Erstellt am" %} {{ petition.created_at|date:"SHORT_DATE_FORMAT" }}</p>
    <p>{% trans "Erstellt von" %}: <a href="{% url 'user_detail' petition.creator.id %}">{{ petition.creator.username }}</a></p>

    <hr>
    <h2>{% trans "Unterschreiben" %}</h2>
    {% if petition.success %}
        <p>{% trans "Du kannst auch unterschreiben, obwohl die Petition bereits Erfolg hatte, um zu verdeutlichen, dass auch dir das Thema wichtig ist!" %}</p>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        {% if request.user not in petition.signs.all %}
            {% if request.user.is_authenticated %}
                <button type="submit" name="sign">{% trans "Unterschreiben" %}</button>
            {% else %}
                <p><a href="{% url 'register_view' %}">{% trans "Registriere dich" %}</a>, {% trans "um zu unterschreiben" %}</p>
            {% endif %}
        {% else %}
            <p>{% trans "Du hast bereits unterschrieben" %}</p>
            <button type="submit" name="sign">{% trans "Unterschrift zurücknehmen" %}</button>
        {% endif %}
    </form>

    <hr>

    <h2>{% trans "Updates" %}</h2>
    <div class="updates">
        {% for update in petition.updates.all %}
            <div class="accordion">
                <div class="accordion-header">
                    <div>
                        <div class="accordion-title">{{ update.title }}</div>
                        <div class="accordion-meta">{{ update.created_at }}</div>
                    </div>
                    <button class="accordion-toggle" aria-expanded="false"
                            aria-controls="accordionContent">
                        <span></span>
                    </button>
                </div>
                <div class="accordion-content-wrapper">
                    <div class="accordion-content">
                        <p>{{ update.content|safe }}</p>

                    </div>
                </div>
            </div>
        {% empty %}
            <p class="no-comments"><i>{% trans "Noch keine Updates vorhanden." %}</i></p>
        {% endfor %}
    </div>

    <hr>

    <h2>{% trans "Kommentare" %}</h2>
    <div class="comment-section">
        {% if petition.comments.all %}
            {% for comment in petition.comments.all %}
                <div class="comment">
                    <div class="text-wrapper">
                        <div class="comment-header">
                            <span class="comment-user"><a
                                    href="{% url 'user_detail' comment.user.id %}">{{ comment.user }}</a></span>
                            <span class="comment-date">{{ comment.date_time|date:"SHORT_DATETIME_FORMAT" }}</span>
                        </div>
                        <div class="comment-text expandable-text blur-enabled">{{ comment.comment }}</div>
                        <div class="answers">
                            {% for answer in comment.answers.all %}
                                <div class="answer-header">
                                    <span class="answer-user"><a
                                            href="{% url 'user_detail' answer.user.id %}">{{ answer.user }}</a></span>
                                    <span class="answer-date">{{ answer.date_time|date:"SHORT_DATETIME_FORMAT" }}</span>
                                </div>
                                <div class="answer expandable-text blur-enabled">{{ answer.answer }}</div>
                            {% empty %}
                                <div class="no-answer">{% trans "Noch keine Antworten." %}</div>
                            {% endfor %}
                        </div>
                        <button class="toggle-button">{% trans "Mehr anzeigen" %}</button>
                        <details>
                            <summary>{% trans "selbst antworten" %}</summary>
                            {% if user.is_authenticated %}
                                <form method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="comment_id" value="{{ comment.id }}">
                                    <label for="answer">{% trans "Antwort" %}:</label>
                                    <input type="text" id="answer" name="answer" placeholder="{% trans "Antwort" %}">
                                    <button name="answer_comment">{% trans "Antworten" %}</button>
                                </form>
                            {% else %}
                                <p><a href="{% url 'login_view' %}">{% trans "Logge dich ein" %}</a>, {% trans "um den Kommentar zu beantworten" %}
                                </p>
                            {% endif %}
                        </details>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p class="no-comments"><i>{% trans "Noch keine Kommentare vorhanden" %}</i></p>
        {% endif %}
    </div>

    <script nonce="{{ request.csp_script_nonce }}">
        document.addEventListener("DOMContentLoaded", function () {
            const comments = document.querySelectorAll(".comment");

            comments.forEach(comment => {
                const button = comment.querySelector(".toggle-button");
                const wrapper = comment.querySelector(".text-wrapper");
                const expandableElements = comment.querySelectorAll(".expandable-text");

                let shouldBlur = false;

                expandableElements.forEach(el => {
                    const textLength = el.textContent.trim().length;
                    if (textLength > 100) {
                        shouldBlur = true;
                        el.classList.add("blur-enabled");
                    } else {
                        el.classList.remove("blur-enabled");
                    }
                });

                if (shouldBlur) {
                    button.style.display = "inline-block";
                    button.addEventListener("click", () => {
                        wrapper.classList.toggle("expanded");
                        button.textContent = wrapper.classList.contains("expanded") ? "{% trans "Weniger anzeigen" %}" : "{% trans "Mehr anzeigen" %}";
                    });
                } else {
                    button.style.display = "none";
                }
            });
        });
    </script>
    {% if user.is_authenticated %}
        <form method="post">
            {% csrf_token %}
            <label for="comment">{% trans "Neuen Kommentar hinzufügen:" %}</label>
            <input type="text" id="comment" name="comment" placeholder="{% trans "Kommentar hinzufügen" %}">
            <button type="submit" name="add_comment">{% trans "Kommentar hinzufügen" %}</button>
        </form>
    {% else %}
        <p><a href="{% url 'login_view' %}">{% trans "Logge dich ein" %}</a>, {% trans "um einen Kommentar zu verfassen" %}
        </p>
    {% endif %}
    {% if request.user.is_authenticated and request.user == petition.creator %}
        <hr>
        <a href="{% url 'edit_petition' petition.id %}" class="redirect-link">
            <span>{% trans "Bearbeiten" %}</span>
            <span class="redirect-link-icon">→</span>
        </a>
    {% endif %}
{% endblock %}