{% extends 'base.html' %}

{% block meta %}
    <meta name="description" content="Guck dir alle Petitionen bei ClimateQuest an">
{% endblock %}

{% block title %}Petitionen{% endblock %}

{% block content %}
    <h1>Petitionen</h1>
    {% if messages %}
        {% for message in messages %}
            <p class="{{ message.level_tag }}-message">{{ message|safe }}</p>
        {% endfor %}
    {% endif %}
    <a href="{% url 'add_petition' %}" class="redirect-link ">
        <span>Petition hinzufügen</span>
        <span class="redirect-link-icon">→</span>
    </a>
    <form method="post">
        {% csrf_token %}
        <div id="search_keyword_div">
            <small>Leer lassen, um alle Petitionen anzuzeigen</small>
            <label for="search_keyword">Suchwort:</label>
            <input type="search" id="search_keyword" name="search_keyword" placeholder="Suchwort">
        </div>
        <label for="order_by">Sortieren nach:</label>
        <label>
            <select name="order_by" required>
                <option value="Titel" selected>Titel</option>
                <option value="Ersteller">Ersteller</option>
                <option value="Zuletzt bearbeitet">Zuletzt bearbeitet</option>
                <option value="Unterschriften">Unterschriften</option>
                {% if user.is_authenticated %}
                    <option value="von mir erstellte Petitionen">von mir erstellte Petitionen</option>
                    <option value="von mir unterschriebene Petitionen">von mir unterschriebene Petitionen</option>
                {% endif %}
            </select>
        </label>

        <button type="submit">Anwenden</button>
    </form>
    <script nonce="{{ request.csp_script_nonce }}">
        let search_keyword = document.querySelector('input[name=search_keyword]');
        let order_by = document.querySelector('select[name=order_by]');
        let search_keyword_div = document.getElementById('search_keyword_div');

        order_by.addEventListener('change', function () {
            if (order_by.value === "von mir erstellte Petitionen" || order_by.value === "von mir unterschriebene Petitionen") {
                search_keyword_div.style.display = "none";
            } else {
                search_keyword_div.style.display = "block";
            }
        });
    </script>
    <p>Sortiert nach: {{ ordered_by }}</p>
    {% if search_keyword %}
        <p>Suchwort: {{ search_keyword }}</p>
    {% endif %}
    {% if petitions %}
        {% for single_petition in petitions %}
            <section
                    class="event-card{% if request.user == single_petition.creator %} event-card-creator{% endif %}">
                <div class="event-main">
                    <h2 class="event-title">{{ single_petition.title }}</h2>
                    {% if ordered_by == 'Zuletzt bearbeitet' %}
                        <p><strong>Zuletzt bearbeitet:</strong> <span class="event-date"
                                                                      data-date="{{ single_petition.updated_at|date:'c' }}">{{ single_petition.updated_at|date:"d.m.Y" }}</span>
                        </p>

                    {% elif ordered_by == 'Ersteller' %}
                        <p><strong>Ersteller:</strong> <a
                                href="{% url 'user_detail' single_petition.creator.id %}">{{ single_petition.creator.username }}</a>
                            {% if request.user == single_petition.creator %}(Du){% endif %}</p>
                    {% elif ordered_by == 'Unterschriften' %}
                        <p><strong>Unterschriften:</strong> {{ single_petition.signs_count }}</p>
                    {% endif %}
                </div>

                <details class="event-details">
                    <summary>mehr</summary>
                    <div class="event-extra">
                        </p>
                        {% if ordered_by != 'Zuletzt bearbeitet' %}
                            <p><strong>Zuletzt bearbeitet:</strong> <span class="event-date"
                                                                          data-date="{{ single_petition.updated_at|date:'c' }}">{{ single_petition.updated_at|date:"d.m.Y" }}</span>
                            </p>
                        {% endif %}
                        {% if ordered_by != 'Ersteller' %}
                            <p><strong>Ersteller:</strong> <a
                                    href="{% url 'user_detail' single_petition.creator.id %}">{{ single_petition.creator.username }}</a>
                                {% if request.user == single_petition.creator %}(Du){% endif %}</p>
                        {% endif %}
                        {% if ordered_by != 'Unterschriften' %}
                            <p><strong>Unterschriften:</strong> {{ single_petition.signs_count }}</p>
                        {% endif %}
                    </div>
                </details>

                <a class="event-link" href="{% url 'petition_detail' single_petition.id %}">Details ansehen</a>
            </section>
        {% endfor %}
    {% else %}
        <p><i>Es gibt derzeit keine Petitionen mit diesem Filter.</i></p>
    {% endif %}

{% endblock %}